[2015-09-28 14:36] fabiencastan opened #1 "CCTag open-source release"
Create documentation.

[2015-10-27 14:46] lcalvet opened #2 "[applications] Impossible to read a parameter file in 'detection'."

[2015-10-30 15:23] lcalvet opened #3 "Perform an upscale x2 by default as bottom of the image pyramid."

[2015-11-11 19:26] lcalvet opened #4 "Find the minimal number of input points in outlier removal."
To be validated with matlab-xp3.

[2015-11-12 21:34] fabiencastan opened #5 "[cmake] make optpp optional"

[2015-11-13 23:07] lcalvet opened #6 "[detection] Validate once and for all the 'quality' criterion used for the update during the reproj."

[2015-11-13 23:10] lcalvet opened #7 "[identification] With extremely low contrast, the <0.8*varMax is not performing well."

[2015-11-13 23:13] lcalvet opened #8 "Add the upscale x2 function as an option through the parameter file."

[2015-11-13 23:17] lcalvet opened #9 "[detection] Validate the new parameters passed to the outlierRemoval during the marker reproj."

[2015-11-24 09:28] #5 closed, assigned to fabiencastan

[2015-11-26 10:30] simogasp opened #11 "[cmake] gsl is still a dependency?"
I can't find any include related ot gsl, i guess it is not longer necessary?

[2015-11-28 11:59] simogasp opened #12 "[tools] Add a simple script to generate the svg images of the cctag from the cctagLibrary"

[2015-12-04 07:31] griwodz opened #13 "crash in CUDA-side identify in copy device-to-host"
Destination of a stack variable, not pinned memory. Should work but doesn't. Make sure the destination is pinned memory.

[2015-12-04 12:50] griwodz commented on #13
Replaced stack variable with pinned memory buffer in branch popart_demo.

[2015-12-04 14:28] griwodz opened #14 "eval_chosen is too slow"
eval_chosen uses more than 50% of the first CUDA stage

[2015-12-04 14:30] griwodz opened #15 "identify oscillates between CPU and GPU"
(1) refinement loop has been moved to src/cuda, must still be moved to the GPU
(2) parallelize the per-tag loop in boost::threads and semaphores at start and end

[2015-12-07 14:16] fabiencastan opened #16 "[cmake] make lapack optional"

[2015-12-08 11:50] griwodz commented on #15
fixed in branch id_on_gpu_5

[2015-12-09 11:28] griwodz commented on #15
fixed by a sort

[2015-12-09 11:28] #15 closed

[2015-12-09 12:07] griwodz commented on #13
another possible pinning-related problem in Tag::load()

[2016-01-05 19:34] fabiencastan commented on #2
Could you explain the task?

[2016-01-22 09:47] fabiencastan commented on #3
For offline usage, I suppose.

[2016-01-22 10:15] fabiencastan commented on #11
@lcalvet

[2016-02-10 11:20] fabiencastan opened #18 "Test docker-nvidia"
https://github.com/NVIDIA/nvidia-docker

[2016-03-16 12:24] #18 closed, assigned to cpichard

[2016-04-07 14:35] lcalvet opened #19 "[applications] problem while reading avi video file."
[h264 @ 0x26a7880] missing picture in access unit
....
OpenCV Error: Assertion failed (scn == 3 || scn == 4) in cvtColor, file /home/lilian/cpp_workspace/popartExtern/opencv/modules/imgproc/src/color.cpp, line 7564
terminate called after throwing an instance of 'cv::Exception'
  what():  /home/lilian/cpp_workspace/popartExtern/opencv/modules/imgproc/src/color.cpp:7564: error: (-215) scn == 3 || sc

[2016-04-07 14:35] lcalvet opened #20 "[applications] Allows to process .mov video file."

[2016-04-07 14:37] lcalvet opened #21 "In some dark cases/very low contrast, the methods still fails."
LABO dataset

[2016-06-14 22:27] lcalvet opened #23 "[cmake/config] Define properly the preproc. variable USE_AVX2."
In perf_optim branch.

[2016-08-08 16:01] fabiencastan opened #24 "[CI] Add travis"

[2016-08-10 12:51] #2 closed, assigned to lcalvet

[2016-08-10 12:51] #3 closed, assigned to lcalvet

[2016-08-10 12:51] #4 closed, assigned to lcalvet

[2016-08-10 12:51] #6 closed, assigned to lcalvet

[2016-08-10 12:51] #7 closed, assigned to lcalvet

[2016-08-10 12:51] #9 closed, assigned to lcalvet

[2016-08-10 12:51] #19 closed, assigned to lcalvet

[2016-08-10 12:51] #20 closed, assigned to lcalvet

[2016-08-10 12:51] #21 closed, assigned to lcalvet

[2016-08-10 12:51] #23 closed, assigned to zvrba

[2016-08-10 14:59] #1 closed

[2016-08-10 18:33] fabiencastan opened #28 "Remove unused boost/gil headers"

[2016-08-11 08:21] simogasp opened #29 "[clean] remove unused (legacy) code"
* [X] boostCv and the relevant `#include` in `Identification.hpp` and `Multiresolution.hpp`
  - this a boost wrap around C-style opencv CvMat which is not used anymore
*  [X] `ImageCenterOptimizerCeres.cpp` is deprecated and not used anymore
* [x] `Label.hpp` and `Labelizer.*` seems not to be used anywhere
  - `Labelizer` has no implementation in `.cpp`
  - by removing these two we can also get ri

[2016-08-11 13:39] simogasp commented on #29
fixed in de4331c

[2016-08-12 21:16] simogasp commented on #11
no

[2016-08-12 21:16] #11 closed

[2016-08-16 22:05] simogasp opened #30 "[cmake] update FindCCTag.cmake"
Library has changed, `FindCCTag.cmake` needs to be updated accordingly

[2016-08-21 17:44] #30 closed

[2016-08-27 06:17] #24 closed

[2016-09-30 10:13] simogasp commented on #12
It is in another repository
https://github.com/poparteu/CCTagDataset/tree/master/src/matlab

[2016-09-30 10:13] #12 closed

[2016-09-30 14:21] simogasp commented on #29
`ImageCenterOptimizerCeres.cpp` done in 292cbab04302a3e6446bd42acd12dcc0dbcef777

[2016-10-04 12:57] simogasp opened #38 "[cmake] switch to modern cmake"
- [x] proper include and link with visibility (PRIVATE, PUBLIC etc)
- [x] create a `CCTagConfig.cmake` to make it reusable into cmake projects
- [x] clean cmakelists
- [x] applications as separate CMakeLists.txt and project
- [x] generate and install a `config.hpp` with the definitions
- [x] adapt travis to build applications with CCTag as 3rd party
- [x] remove `FindCCTag.cmake`
- [x] doc
- [x] g

[2016-10-10 09:37] #29 closed

[2016-11-07 18:35] #28 closed

[2016-11-07 18:46] simogasp opened #41 "[CI] remove BOOST and EIGEN as cached dependencies"
Use the system one and switch to trusty:
* [X] use libboost 1.55
* [X] use libeigen3 (3.2.0 according to http://packages.ubuntu.com/trusty/libeigen3-dev)

[2016-11-07 18:47] simogasp opened #42 "[CI] Add CUDA to CI"
Add CUDA to the continuous integration and manage the possible variants
* use cuda 7.0 (7.5 does not compile yet)
* clang is not supported on linux with cuda 7.0 (it starts at 7.5 with clang 3.5-3.6 http://developer.download.nvidia.com/compute/cuda/7.5/Prod/docs/sidebar/CUDA_Installation_Guide_Linux.pdf)

[2016-11-07 19:38] simogasp opened #43 "[cleaning] Clean up code"
Unused variables and all the other warnings coming up with `-Wall`

[2016-11-09 17:23] simogasp opened #44 "move cuda --> cctag/cuda"

[2016-11-24 09:53] #38 closed

[2016-11-24 09:53] #42 closed

[2016-11-26 13:30] fabiencastan opened #45 "hardcoded image size limits"
There are some hardcoded limits especially MAX_RESOLUTION:
https://github.com/poparteu/CCTag/blob/develop/src/cctag/Types.hpp#L21

Is it possible to make them dynamic?
Like allocating the first time and reallocate only if size has changed?

[2016-12-01 15:52] simogasp opened #47 "change namespace popart --> cctag"
in cctag/cuda/*

[2016-12-02 08:41] zvrba commented on #45
This is at the interface between CUDA and host-code. Data structures on the CUDA-side have to be preallocated, but I don't know whether these structures can be reallocated at a later time. @griwodz ?

[2017-01-19 00:43] simogasp opened #49 "[CI] Clang and CUDA"
clang 3.7 is not supported by CUDA 7.5, thus the
`nvcc fatal   : Host compiler targets unsupported OS.`

Nevertheless some bizarre thing:
139
https://travis-ci.org/alicevision/CCTag/jobs/174239569
has right settings for `C_COMPILER` and `CXX_COMPILER` (both clang3.7)
and gives nvcc fatal

137
https://travis-ci.org/alicevision/CCTag/jobs/174225991
has wrong settings for `C_COMPILER` and `CXX_COMPIL

[2017-02-06 08:10] fabiencastan commented on #45
@griwodz Can we remove this MAX_RESOLUTION limitation?

[2017-02-06 08:52] #44 closed

[2017-02-06 08:52] #47 closed

[2017-03-02 16:49] simogasp commented on #13
@griwodz is it solved?

[2017-06-02 08:53] xslavkov commented on #18
Hi, I would like to try CCTag in docker but link to decker-popart is not available anymore.
Is it available elsewhere (I was not able to google it) or its not public anymore?
Or is there any other docker that should work just fine?

[2017-06-02 13:23] simogasp commented on #18
Hi @xslavkov , I think that docker is a bit outdated and above all it was meant to contain all the software we developed, not just CCTag.
Nevertheless it would be nice to have CCTag in docker. I have no experience with docker though, if you have and you are willing to contribute it would be a really cool feature to have, and of course we can assist you.

S.

[2017-07-18 15:06] #41 closed

[2017-07-18 15:06] #49 closed

[2017-07-25 07:21] mojovski opened #63 "Estimate distance in camera frame"
Hi,
is it possible to get the distance to the marker after it has been detected?

Thank you very much!

[2017-07-25 09:41] lcalvet commented on #63
Hi mojovski,
It can theoretically be achieved either when camera intrinsics are (i) known or (ii) unknown.
(i) You must first decompose the homography matrix (see CCTag.hpp) using K in order to get the rotational and translational part of the supporting plane pose. With such a pattern, there is an ambiguity in terms of pose "around" the normal axis through the center of the marker orthogonal to th

[2017-07-28 07:17] mojovski commented on #63
Hi,
thank you!
So from your answer I conclude, that its not implemented yet, right? :)

As for the pose and distance estimation, I can tell that this implementation of iterative (robust) PnP http://xuchi.weebly.com/rpnp.html outperforms the methods in OpenCV (the error was <20% of the OpenCV errors in some experiments).

[2017-07-28 07:17] #63 closed

[2017-07-31 21:43] lcalvet commented on #63
Hi mojovski,
Yes, you are right.

[2017-08-09 17:11] simogasp opened #65 "[bug] Segfault and exception not caught"
On the CPU version, on MacOSX, segfault happens with some input images, eg these ones (among many others from that dataset):
https://github.com/alicevision/CCTagDataset/blob/develop/bench/images/synthetic/3Crowns/xp3/images/00247.png
https://github.com/alicevision/CCTagDataset/blob/develop/bench/images/synthetic/3Crowns/xp3/images/00258.png
https://github.com/alicevision/CCTagDataset/blob/develop/

[2017-08-11 12:00] simogasp commented on #65
ok the segfault may be a corrupted osx version (???!)
https://stackoverflow.com/questions/44712703/xcode-produces-segmentation-fault-as-opposed-to-exception

[2017-08-11 15:11] simogasp commented on #65
@zvrba
investigating a little bit and opening a can of worms :-) i found that ellipseFitting gives wrong results with degenerate configurations of points, eg
[code]
gives
[code]

So it seems like that it enforces to find the "closest ellipse" fitting the points instead of finding the ellipse through the 5 points (which may fail if the points are not on an ellipse). Is that a wanted implementation?

[2017-08-11 16:47] zvrba commented on #65
Ellipse fitting needs 5 points at least, and the algorithm assumes that. Feeding it less than 5 points w/o any checks leads to undefined behavior (returning an arbitrary result or crashing). I have no idea why does it ever proceed if there are fewer than 5 points.

As for the second issue, yes, the intention is to find the closest ellipse to the input points. Points come from a digitized image and

[2017-08-11 18:56] simogasp commented on #65
No there are no checks that prevents going on with less than 5 points. I just added them and it should be fine. Along another check inside `fit_solver` to avoid degenerate cases (eg the same point or points lying on a line...).

ok for the second, i imagined that it was like that when i saw the results of that example. I will add a comment though to make it clear

[2017-08-11 18:58] simogasp commented on #65
any idea why a candidate may have no edgePoints though?

[2017-08-13 07:32] zvrba commented on #65
Nope.

[2017-08-13 11:22] simogasp commented on #65
concerning the segfault, just to put to shame my stupidity, here is what happened (for future memory and in case someone else bump into similar problems)

The premise is that i have multiple version of LLVM, the "standard" one shipped by Apple and LLVM 3.9 installed with homebrew (mainly used to have openmp support). In order to switch from one to another, in my .profile i can activate the homebre

[2017-08-14 14:10] #65 closed

[2018-02-24 09:09] bubulv opened #69 "how to compile dynamic CCTAG_LIBRARY with cuda?"
I need to dynamic invocat the cctag library as a '.so' library in Python code.
Why the code must be static if use cuda? Could you tell me how to change these?

[2018-02-24 12:32] griwodz commented on #69
Cuda is not the problem. The problem is that I have been unable to find out how to do it with cmake's cuda code. Your help would be appreciated.

[2018-02-24 12:57] simogasp commented on #69
@griwodz could be this https://stackoverflow.com/a/30663344?

[2018-02-24 13:08] bubulv commented on #69
So, just modify the cmakelist with cuda code it could be used? Do I need modify some .cu files? I have chang the cmakelist with -fpic but stell some problems！I hope you can help me.

肖旭

[2018-02-26 08:24] simogasp commented on #69
and do `make VERBOSE=1` to check the flag is added

[2018-02-26 08:35] bubulv commented on #69
I added "set(CUDA_NVCC_FLAGS "${CUDA_NVCC_FLAGS};-fPIC)" after line 94 in  CCTag/src/CMakeLists.txt , it comes more issue "nvcc fatal   : Unknown option 'fPIC'"

![image](https://user-images.githubusercontent.com/17450562/36660418-0bddd40c-1b13-11e8-8ada-c63ea8e91e16.png)

[2018-02-26 08:45] simogasp commented on #69
try with
`list(APPEND CUDA_NVCC_FLAGS "--compiler-options -fPIC")` instead of the previous one

[2018-02-26 09:04] bubulv commented on #69
It dose not used."nvcc fatal   : Unknown option '-compiler-options -fPIC'"
I have try many options to add -fPIC but no use.

[2018-02-27 15:17] #69 closed

[2018-03-06 07:58] griwodz commented on #45
It is possible to turn the MAX_RESOLUTION into a command-line variable with limited effort. The only problem is that I'm very short on time in the coming weeks.

Dynamic resolution is harder. The memory-managing classes in CCTag are copy-pasted from OpenCV, and dynamic resolution is not possible without a major re-write (use the self-made memory classes from PopSift).

[2018-03-14 03:00] bubulv opened #71 "Using CCTag as third party"
First, I add -DCMAKE_INSTALL_PREFIX=$CCTAG_INSTALL at cmake command line and the CCTag make is ok.
Second, in my  CMakeLists.txt file I add the dependency:
   find_package(CCTag CONFIG REQUIRED)
  add_executable(cctagtest yourfile.cpp)
  target_link_libraries(cctagtest PUBLIC CCTag::CCTag)

The location of CCTagConfig.cmake is : CCTag/build/src/generated/CCTagConfig.cmake.
 I do the cmake commond

[2018-03-14 07:49] fabiencastan commented on #71
You are supposed to run `make install` in the cctag repository (and not use the intermediate build folder).
Then to use it from another repo: `cmake .. -DCCTag_DIR=-DCCTag_DIR=$CCTAG_INSTALL/lib/cmake/CCTag`
As explain [here](https://github.com/alicevision/CCTag/blob/develop/BUILD.md).

[2018-03-14 07:58] bubulv commented on #71
It‘s ok!      thank you very much！！！！！

[2018-03-14 08:00] fabiencastan commented on #71
Great.
And by the way, any feedback on the lib is welcome!

[2018-03-14 08:00] #71 closed

[2018-03-21 10:00] bubulv opened #72 "Identified different size frame with GPU mode"
In your code "cannot change the input frame resolution" if the input source is a video.
But now I want to deal with some frames which deal with crop operation. That  is to say the input frame resolution is changing.
How can I do it? I add the code "pipe1->release();" in Detection.cpp line 974, but still has some errors as follow:
      CCTag/src/./cctag/cuda/pinned_counters.cu:43
      cudaFree fa

[2018-03-21 10:06] bubulv commented on #45
how can I deal with each frame just like a new image one by one?

[2018-03-30 08:18] bubulv opened #73 "can I move this code to windows?"
Dose this code have some limiting? I want to build it in windows with VS2013

[2018-03-31 19:47] babazaroni opened #74 "Sample Image test is causing exception"
I've built CCTag on a Ubuntu 16.04 machine using OpenCV 3.3.1, cpu only.  However, the sample image test fails in Identification.cpp:1206 at `assert ( outerPoints.size() >= 5);` line.

The problem appears to be that `numerical::ellipseFitting` in Multiresolution.cpp is causing an exception every call so that outerPoints.size() is always zero.

Any ideas on how to resolve this problem?  Should I be

[2018-03-31 19:50] simogasp commented on #74
can you try the `specialCases` branch, it could be related to #66

[2018-03-31 20:16] babazaroni commented on #74
Thanks for the quick reply.  Compiling the specialCases branch now.  I need to satisfy the `boot_unit_test_framework` requirement.

[2018-03-31 20:26] babazaroni commented on #74
The specialCases branch works for me.  Thanks very much!

[2018-03-31 20:43] simogasp commented on #74
great!

[2018-04-20 07:38] GuillaumeHauss commented on #74
Hi guys,
I've just tried the specialCases in CPU-only mode, and it still crashes.
Is it related to the CPU-only mode? or is it still an ongoing development?

Thank you for your work, by the way !

[2018-04-20 08:12] simogasp commented on #74
Hi @GuillaumeHauss
thanks for your appreciation!
Does it crash at the same point? If it crashes during the ellipse fitting like above it's not a problem of the CPU-only mode, as that step is always done on CPU.
Just to complete the information, you are running the `detection` application, is that so? Are you using an image, and if so can you share it so we can try to replicate the problem?

[2018-04-20 14:15] babazaroni commented on #74
The specialCases version that works for me is 273aa5a.  You might want to try that version.

[2018-04-20 14:29] babazaroni commented on #74
The specialCases version that works for me is d22fd2ea.  You might want to try that version.

[2018-04-20 14:54] GuillaumeHauss commented on #74
Hi guys,
Thank you for this quick answer! Here are the answers to your inquiries
- It does crash at the same point, when doing the `assert(outerPoints.size()>=5)`
- I'm running the detection application, with the command `build/src/detection -n 3 -i sample/01.png` .
- I've tried on both samples images, the crash is the same

I'm gonna try your version,; @babazaroni , thank you!

[2018-04-21 05:28] Dylanin1999 opened #75 "can i use it with my cpu?"
can i use it with my cpu? if it is possible ,can you teach my how to do .thank you

[2018-04-22 12:37] simogasp commented on #74
@GuillaumeHauss @babazaroni

So looking into the code it turned out I was wrong, that is not related to the `specialCases` branch.
I guess you are building in **Debug** mode, you should try **Release** mode (`-DCMAKE_BUILD_TYPE:STRING=Release`) which will (of course) skip that assert and complete correctly the computation, as it happens to me. (BTW Release mode is incidentally way much faster)

Th

[2018-04-22 12:49] simogasp commented on #75
Hi @Dylanin1999
yes the library can run in cpu-only mode, so you don't need to have a GPU on your machine.

In order to build the library in cpu-mode, you can follow the steps in [BUILD](https://github.com/alicevision/CCTag/blob/develop/BUILD.md) file (note that for now it successfully builds only on Linux and MacOSX).

Once you get all the required dependencies, in the [building step](https://git

[2018-04-22 13:14] simogasp commented on #73
Hi @bubulv, I don't know if @zvrba ever built this on windows, but I think it is not possible to build it as-it-is now as there are few calls to unix library (eg `<sys/stat.h>` etc) that will cause errors on windows.

On the other hand, the majority of the code relies on C/C++ standard library and dependency libraries that can be found on windows as well, so it is possible to port the code on wind

[2018-04-22 13:42] zvrba commented on #73
I've never tried to build it on Windows.

[2018-04-23 04:17] bubulv commented on #73
Thank you for your reply！I have build it on windows already. But some exceptions appear when the code run CompleteFlowComponent function. I buid cctag with CUDA and NDEBUG use VS2015. Further more, can you explain more details about how to choose the appropriate params for myself datas? My image size is about 500*500, and just 1 or 2 cctag markers are in it. Now it is  60-80ms for one image detect

[2018-04-23 09:00] GuillaumeHauss commented on #74
@simogasp

it worked like a charm! It's only the CPU-version though, I need to figure out why it's not compiling against the right CUDA library.
But I got an output, and markers have been detected.
Here are a few remarks:
- for sample image 01.png, I got 4 markers identified, and a computing time of 0.74s
- for sample image 02.png, I got 6 markers identified and a computing time of 0.68s
Does that

[2018-04-23 10:31] simogasp commented on #73
That's very cool! If you want to contribute to the project please do not hesitate to make a pull request so we can make the library available on windows platforms!

Can you be more precise and report the error?

just as reference, can you try to run it on the sample images in the [samples](https://github.com/alicevision/CCTag/tree/develop/sample) directory and report your results (number of detect

[2018-04-23 11:02] griwodz commented on #74
Hi @simogasp and @GuillaumeHauss,

Sorry, my everyday machine is still Ubuntu 16.04 and CUDA 8. I gave it a brief try with Ubuntu 16.04 and CUDA 9 not so long ago and I ran into a problem with the combination of a recent Boost version and CUDA 9. Unfortunately, I didn't have the time to follow up yet.

[2018-04-23 11:55] bubulv commented on #73
@simogasp @griwodz  You are so nice. But I don't know how to make a pull request. I just change some windows' libraries and set some options on VS2015.
For(1): My gpu is Titan xp and cuda 9.1.  In vs2015 I only can set the compute=35 max, if I set 61 the vs will report some errors: "too many share datas". And until now I dont't know how to solve it.
![image](https://user-images.githubusercontent.c

[2018-04-24 04:16] bubulv commented on #73
Hello, I have solve the question (1), my compute set sm=60, and the spent time improve to about 40ms one frame(1000*1000). But the main question is (5). Although it is a dubug information. Did it has any effects on the results? If it has no effect I will ignore this error. When I build cctag under Linux this information never appears, so I'm a little woried.
@griwodz  Can you give me some advises

[2018-04-24 10:33] simogasp commented on #73
You can try to add another catch clause before the generic one
https://github.com/alicevision/CCTag/blob/develop/src/cctag/Detection.cpp#L262
like
[code]
so we can see what kind of exception and message is thrown. And from there we can move up to the source throw.

[2018-04-24 11:17] bubulv commented on #73
![q1](https://user-images.githubusercontent.com/17450562/39183780-b5e46332-47f3-11e8-904a-c6e85b822b45.png)
Here is my 3 major errors.  The default parameter kDefaultThrMedianDistanceEllipse=3.0, what does it mean?

[2018-04-24 11:25] simogasp commented on #73
Again I'm not the expert on the algorithmic part but those seem to me just debugging info, not really errors, they are just normal conditions not met during the detection that enable an early return. I won't be too worried about those.

[2018-04-24 11:29] bubulv commented on #73
@simogasp  Thanks again for your reply. They are just some debug information. But I think maybe I can change some default parameters to help detect. But I don't know which parameters are good for me.

Can you help me?@griwodz

[2018-04-24 11:31] simogasp commented on #73
could you share one image or one frame of your video so that we can have an idea of the problem/settings etc?

[2018-04-24 11:49] bubulv commented on #73
image:
![2](https://user-images.githubusercontent.com/17450562/39184911-e4ce3ed0-47f7-11e8-8004-41f5ce3f9778.png)
detect result:
![image](https://user-images.githubusercontent.com/17450562/39184970-11b559d8-47f8-11e8-8494-d0ba9e986665.png)
The final id I chose the best quality. Also I need to detect more  motion blurred image. It's normal that I can't detect anyone.

[2018-04-24 11:49] griwodz commented on #73
@bubulv I'm sorry but the parameters are not my domain. The theory was the work of @lcalvet .

I remember some of them:

The Canny Threshold variables change how strong a gradient (brightness difference between a bright and a dark pixel) must be to be recognized as an edge. The CCTags need 6 (n=3) or 8 (n=4) pretty sharp edges. If your threshold is very low, everything looks like an edge you canno

[2018-04-24 11:54] griwodz commented on #73
@bubulv I think you should increase kDefaultNumberOfMultiresLayers.
If your image is blurred, you don't have a strong gradient between brightness outside of the outer wring and brightness on the outer ring. The Canny threshold test can fail because of that. The next lower resolution can hide that blur and the gradient can be good enough.

[2018-04-24 11:58] griwodz commented on #73
I have had bad gradient orientations for 2 reasons:
- I used 4-ring CCTag with a 3-ring configuration file
- my greyscale image was inverted (the center circle was black)

[and when I had inverted gradient computations, but that bug was fixed]

[2018-04-24 13:16] griwodz commented on #73
Hi @bubulv
Thanks for your interest.
You MUST respect the white margin as described on the github repo webpage (https://github.com/alicevision/CCTag/): first WARNING... . Margins should be white, not black. You must use the markers to print provided here: https://github.com/alicevision/CCTag/tree/develop/markersToPrint . There must not be any pattern printed inside the inner white circle (in your

[2018-04-24 13:38] simogasp commented on #73
@griwodz @lcalvet If I recall correctly there was a minimum detectable size for the cctag in the image, HxW pixels. I don't know if I remember correctly or if it is not the case anymore. In case we should add it in the doc.

[2018-04-24 14:35] griwodz commented on #73
There was not. The most relevant criterion remains the maximal ring thickness in the image (not constant due to perspective distortion). That value must be greater than 3 or 4 pixels approximately.

[2018-04-25 07:49] GuillaumeHauss commented on #74
Hi all,
I successfully installed CUDA 8.0 besides CUDA 9.0, and change the symlink /usr/local/cuda to point at the right version, so that CCTag will compile again CUDA 8.0

So far so good! However, when compiling, I got the following crash
[code]
I looked it up in the file src/cuda/tag.h and indeed there's no function prototype `debug` in the class `cctag::TagPipe`

I guess that's another issue; s

[2018-04-25 07:53] lcalvet commented on #73
Sorry, I was logged as @griwodz

Hi @bubulv
Thanks for your interest.
You MUST respect the white margin as described on the github repo webpage (https://github.com/alicevision/CCTag/): first WARNING... . Margins should be white, not black. You must use the markers to print provided here: https://github.com/alicevision/CCTag/tree/develop/markersToPrint . There must not be any pattern printed inside

[2018-04-25 08:02] simogasp commented on #74
thanks for reporting that! It looks like a leftover of a previous refactoring and Travis only tests the release mode...

[2018-05-07 08:58] bubulv opened #76 "how to improve the detection time？"
My device is: TITAN XP 16G. I set NODEBUG, no output and sm=61.
I use the gpu code to detect a video, every frame is 500*500. One frame is about 50~70ms(except cudainit time).
Does the efficiency can improve more?  I want to compress the time to 20-30ms one frame for real-time detection. I don't quite understand some of the math in the code, so I ask for help. In your code I see some optimize debu

[2018-05-07 08:59] bubulv commented on #76
Thank you very much for your warm help.

[2018-05-07 09:01] bubulv commented on #76
Also  I test "tbb::parallel_for(...) " for constructFlowComponentFromSeed(), but it seems spend more time than "for(...)".  Do I need to use tbb_parallel?

[2018-06-06 23:13] TechArtistG opened #77 "vcpkg CCTag package"
As AliceVision can use vcpkg for most of it's dependencies it would be nice if there was a CCTag package.

[2018-06-20 21:21] simogasp commented on #77
yes that it would be great.
For the moment we are on the way to try to build CCTag on windows using vcpkg for its dependencies (see PR #78).  That would be the next step. Any help, of course, I well appreciated! :-)

[2018-06-21 06:08] blackball opened #80 "Always raise assertion on CPU mode."
Hi,

I compiled cctag on Debian 9 with g++ 6.3 in CPU mode and ran it with the sample images. It always give assertions:

[code]

The commands was:
[code]

[2018-06-21 06:29] simogasp commented on #80
Hi @blackball ,
we are aware of this (see #74), you are better off building in Release mode (`-DCMAKE_BUILD_TYPE:STRING=Release`) to get rid of that (also, release is way faster than debug).

[2018-06-21 06:44] blackball commented on #80
Hi @simogasp, Thanks for your quick reply.

For some reason, passing  -DCMAKE_BUILD_TYPE:STRING=Release will not make it mute assert. What I did is adding add_definitions(-DNDEBUG) into the top level CMakeLists.txt.  It works now.

[2018-06-21 06:44] #80 closed

[2018-07-16 08:41] richard-bmc commented on #73
@bubulv It's really encouraging to know someone had built CCTag on Windows. I was trying the same thing but I got no luck.
I wonder what the version of Boost you are using. I built CCTag with Boost 1.67, which was installed via vcpkg, but I got a lot of errors from Boost include files.

[2018-07-16 08:51] simogasp commented on #73
Hi @richard-bmc ,
please note that there is a working in progress porting to windows #78
You can try to check out that branch devWindozeFixes.
It works for the CPU part, there may be still some issue with CUDA for the gpu part.
You can build the cpu part by passing `-DWITH_CUDA:BOOL=OFF`
Of course any feedback and contribution is welcome :-)

[2018-07-16 08:57] richard-bmc commented on #73
@simogasp OK! I'll try that branch!

[2018-07-19 02:54] richard-bmc commented on #73
@simogasp I've just built CCTag (without CUDA) on my computer successfully!

[2018-07-19 07:03] simogasp commented on #73
great! Does it work too?
You can try to run
[code]
(it may crash in Debug mode, it should work in Release, because of #74 that has to be fixed)

[2018-07-19 07:06] simogasp commented on #73
@richard-bmc Which version of opencv are you using?

[2018-07-20 02:44] richard-bmc commented on #73
Yes! It detects 4 markers in 01.png in 0.924 seconds, and 6 markers in 02.png in 1.076 seconds.

My OpenCV version is 4.0.

[2018-07-20 03:13] zhangyuqiqiyuzhang commented on #73
Hi@bubulv
  I hear that you successfully move this code to Windows,please,Can you share the following code that you moved to Windows,Thank you

[2018-07-20 03:24] bubulv commented on #73
@zhangyuqiqiyuzhang  There are many dependent packages should be added. First you should install them successfully. In addition, I just replace some functions which can not use on windows.

[2018-07-20 03:43] zhangyuqiqiyuzhang commented on #73
Hi@simogasp
I hear that you successfully move this code to Windows,please,Can you share the following code that you moved to Windows,Thank you

[2018-07-20 03:46] zhangyuqiqiyuzhang commented on #73
@bubulv
Thank you for your reply，Can you share the code after you replace the function for me to learn about，Thank you

[2018-07-20 10:16] simogasp commented on #73
@zhangyuqiqiyuzhang
There is a working in progress pull request to port the code to windows #78 .
You can try to check out that branch `devWindozeFixes`.
It works for the CPU part, there may be still some issue with CUDA for the gpu part.
You can build the cpu part by passing `-DWITH_CUDA:BOOL=OFF`.
In that branch I haven't updated yet the documentation to build on windows. The easiest way is to u

[2018-08-28 04:22] johnhable opened #91 "Fiducial Generation"
Hi,

Got question/request: What is the algorithm to generate the fiducial markers? I see the PDFs in markersToPrint, but I don't see the 4 ring versions. In my case, I need to print custom patterns like a grid for calibration.

So, what is the algorithm for the radius of the rings of the markers? I see the array for marker identification (CCTagMarkersBank::idFourCrowns) but I'm not sure how those

[2018-09-06 07:29] simogasp commented on #74
closing as it has been fixed by #86 (assert) and #92 (obsolete debug function)

[2018-09-06 07:29] #74 closed

[2018-09-06 15:09] simogasp opened #93 "Building issue with Boost >= 1.60.0 and CUDA != 7.5"
Compiling with gcc 5.4.0 and CUDA 8.0 on ubuntu 16.04 the following error is thrown

[code]

Apparently this is related to a template aliases problem in boost with CUDA.
https://github.com/ComputationalRadiationPhysics/picongpu/pull/1603

Applying the same fix as in https://github.com/ComputationalRadiationPhysics/picongpu/pull/1603 it seems to work

[2018-12-10 16:37] #93 closed

[2019-01-08 12:45] smartnet-club opened #97 "Failed to link OpenCV"
**_Errors:_**
CMakeFiles/detection.dir/detection/main.cpp.o: In function `main':
main.cpp:(.text.startup+0x1b3d): undefined reference to `cv::namedWindow(cv::String const&, int)'
main.cpp:(.text.startup+0x1e84): undefined reference to `cv::imshow(cv::String const&, cv::_InputArray const&)'
main.cpp:(.text.startup+0x1e9b): undefined reference to `cv::waitKey(int)'
main.cpp:(.text.startup+0x1eaf): u

[2019-01-08 15:02] simogasp commented on #97
Hi, thanks for pointing this out.
Could you make a PR with the fix? thanks!

S.

[2019-01-09 08:00] smartnet-club commented on #97
We works with cloned version in other VCS. Can't make PR. Sorry.

[2019-02-22 09:42] bluecd opened #99 "MSVC2017 x64 cant build w/vcpkg, /CUDA 9.2/"
`1>------ Build started: Project: ZERO_CHECK, Configuration: Release x64 ------
2>------ Build started: Project: CCTag, Configuration: Release x64 ------
2>Building NVCC (Device) object src/CMakeFiles/CCTag.dir/cctag/cuda/Release/CCTag_generated_assist.cu.obj
2>assist.cu
2>cl : Command line warning D9002: ignoring unknown option '-fPIC'
2>assist.cu
2>cl : Command line warning D9002: ignoring unkno

[2019-05-06 21:09] Jimmy316 opened #101 "OOM when running with valgrind"
I tried to run valgrind on the detection algorithm. I see memory consumption go up continously. It reaches 15GB and kills my wks. Have any of you encountered similar issues

[2019-05-06 21:10] Jimmy316 commented on #101
This is the command I am running
valgrind --leak-check=yes --track-origins=yes --log-file=cctag.out --leak-check=full --show-leak-kinds=all ./detection -n 3 -i sample01.png

[2019-05-06 21:11] Jimmy316 commented on #101
Running within an Ubuntu 16.04 docker container.

[2019-05-06 21:45] simogasp commented on #101
Just to know, are you using the cuda version or the cpu version? Do you have the same if u run it with `--use-cuda`?

[2019-05-06 21:51] Jimmy316 commented on #101
I am using the stand alone version (i.e the non cuda version) I didn't build a library with the CUDA version. I can give it a shot next.

[2019-05-07 08:04] simogasp commented on #101
I was asking because in the cuda version there are a lot of dynamic allocations but it should not be the case in the cpu.
Can u post the log or the result of valgrind?

[2019-05-07 19:00] Jimmy316 commented on #101
Hi

I got on a server that has 128GB of memory and ran the test. I see the total memory consumption goes upto 25GB (that explains why it didn't run on my laptop)

Find the valgrind output attached
[valgrind_cctag.log](https://github.com/alicevision/CCTag/files/3154132/valgrind_cctag.log)

[2019-06-05 01:58] ion1 commented on #91
Apologies for a “me too” message, but it has been some time. I would find printable CCTag4 markers useful, is there code to generate them somewhere?

[2019-06-05 05:38] ion1 commented on #91
Well, here's a generator for markers that may or may not be reverse-engineered correctly. It is untested so far (it turns out Meshroom doesn't actually support them yet). The results are included in the output directory. https://github.com/ion1/cctag-gen

[2019-06-28 11:00] Misdirected opened #102 "Higher-order fiducials?"
__I'm still learning the most basic components of git, so please bare with me.__
I've created 64 .pdf documents for 6-bit fiducials using the same keep-out space used in the 5-bit versions already presented. The one labeled as 0001 is binary (000000) and the one labeled 0064 is binary (111111); so, off by one, starting at 1, just like the versions already presented. The glyphs in the .pdf files ar

[2019-07-11 11:28] #97 closed

[2019-08-12 07:24] griwodz commented on #99
PR #108 should have fixed this.

[2019-08-12 07:26] griwodz commented on #13
Pretty sure this is solved.

[2019-08-12 07:26] #13 closed

[2019-09-03 13:28] 99991 opened #113 "Build Errors FAQ"
I spent this day trying to build this library and wanted to list the errors I came across and some of the fixes I found.

**Error**

Requires at least boost-1.66.0, but Ubuntu 18.04 only has boost-1.65.1:

**Fix**

Uninstall boost and build from source.

Make a directory named `/usr/local/boost_1_71_0` or whatever the current version is.
You might have to chmod the directory if `b2` fails later on

[2019-09-03 13:38] 99991 commented on #75
I get the following warning when using `-DWITH_CUDA:BOOL=OFF`:
[code]

Using `-DCCTAG_WITH_CUDA:BOOL=OFF` instead works for me.

[2019-09-03 13:50] simogasp commented on #75
yes it has been changed lately to be more consistent with the other options naming.
But, you are right, we need to improve the documentation...

[2019-09-03 14:01] simogasp commented on #113
Thank you for the detailed report.

It's better to used recent versions of the libraries, ie boost and eigen, which requires to build them from scratch.

As for the Cuda version, you should check before which cuda version to install on your system based on the gcc version that comes with your system
https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html

No need to reclone the whole

[2019-09-15 20:18] fabiencastan opened #114 "Crash in outlierRemoval"
I get a crash and the debugger says that it is here:
https://github.com/alicevision/CCTag/blob/7768c184d4107d389ef1c0a086a7f55d28d542de/src/cctag/Vote.cpp#L570
`vDistFinal` is empty, so `numerical::medianRef` crashes as it accesses to an element of the vector in all cases.

I have not submitted a PR, as I'm not sure what I'm supposed to return in this case.

[2019-09-16 08:50] simogasp commented on #114
@lcalvet

[2019-09-25 11:52] lcalvet commented on #114
You can return a very high value, such as for example the one [there](https://github.com/alicevision/CCTag/blob/7768c184d4107d389ef1c0a086a7f55d28d542de/src/cctag/Detection.cpp#L138). The filteredChildren vector is also empty in that case, the candidate will be discarded [there](https://github.com/alicevision/CCTag/blob/7768c184d4107d389ef1c0a086a7f55d28d542de/src/cctag/Detection.cpp#L150) anyway.

[2019-09-26 12:55] #114 closed

[2019-12-25 09:28] zengletian1491 opened #118 "undefined reference to `boost::unit_test::unit_test_main(bool (*)(), int, char**)' Error"
when "cmake .." and "make" are typed in, errors occurr as follows:

**[ 97%] Linking CXX executable cctag_fitEllipse
CMakeFiles/cctag_fitEllipse.dir/fitEllipse.cpp.o: In function `main':
fitEllipse.cpp:(.text.startup+0x9cd): undefined reference to `boost::unit_test::unit_test_main(bool (*)(), int, char**)'
collect2: error: ld returned 1 exit status
src/cctag/test/CMakeFiles/cctag_fitEllipse.dir/bu

[2019-12-25 10:52] simogasp commented on #118
that's strange. Can you post the output of the first `cmake ..` (when done from scratch, i.e. removing the CMakeCache.txt file or doing it from another directory)?

BTW if the problem is limited to only this target you can avoid building the unit tests (which is unlikely something you need) running `cmake .. -DBUILD_TESTS:BOOL=OFF`.
But it's interesting to know what's wrong with that message.

[2019-12-25 12:03] zengletian1491 commented on #118
Thanks very much! It is OK!

[2020-02-01 04:46] israelshirk commented on #113
Define BOOST_NO_CXX11_CONSTEXPR and it'll take care of this for you...  I went through upgrading the whole toolchain and came back to that as more or less the simplest point to just get things working.

[2020-03-17 14:41] wbblom opened #120 "CvMat::CvMat(cv::Mat) depricated in OpenCV 3.4.9"
I have OpenCV 3.4.9 Installed and can't build CCTag develop branch from source.
To reproduce:
- Ubuntu 18.04
- CMake 3.16.3
- Boost 1.66
- OpenCV 3.4.9
- Build CCTag from source with -DCCTAG_WITH_CUDA=0 -DCCTAG_ENABLE_SIMD_AVX2=ON -DBUILD_SHARED_LIBS=ON

Errors:
[  2%] Building CXX object src/CMakeFiles/CCTag.dir/cctag/filter/cvRecode.cpp.o
~/Downloads/CCTag/src/cctag/filter/cvRecode.cpp: In funct

[2020-03-18 15:00] wbblom commented on #120
I have created my own version of cvRecode.cpp using cv::Mat instead of CvMat which does compile with the tags as mentioned above. If you want it tell me where to upload/commit/contribute it.

[2020-03-18 15:03] simogasp commented on #120
that would be great!
You can fork this repository and make a pull request with the new version
https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request

[2020-03-18 15:06] wbblom commented on #120
yes, i will do that this week

[2020-03-18 15:18] wbblom commented on #120
should i also make the file clean? there is a lot of commented/debug/alternative code that never gets reached

[2020-03-18 15:35] simogasp commented on #120
if you are talking about the code inside `if(use1Dkernel)` we need to ask to @lcalvet @griwodz
It would be nice to end up with a clean code!

[2020-03-18 16:02] wbblom commented on #120
yes, that (although I also had to fix this to be able to compile). But also the defines on lines 34 and 35, the commented debug code on line 337, the huge dump to std::cout on line 467

how do we reach @lcalvet and @griwodz ?

[2020-03-18 16:18] simogasp commented on #120
Those are actually used by default. Again, I don't know if we need to keep the switch option or we can just keep the code inside those branches (as it is used today)

I think that can be removed

this I don't know but at least it should be replaced by a `CCTAG_COUT_DEBUG`

we mentioned them, they will show up :-)

[2020-03-19 09:56] wbblom commented on #120
I created a **Draft** Pull Request named: "now CCTag builds with OpenCV3.4.9 #121".
When @lcalvet and @griwodz show up, we can see about the remaining code changes

[2020-03-27 14:13] tomasdrinovsky opened #122 "Wrong id detected - nCrowns = 4"
Hello,
I have come across interesting bug in detection algorithm, where two visually distinct cctags get recognized as same id (both are identified as id=95).

Image:
![94_95](https://user-images.githubusercontent.com/31925978/77763453-64846100-703b-11ea-8003-758192432960.png)

Code:
[code]

Could you please confirm the problem?

[2020-03-27 15:02] simogasp commented on #122
![cctagIssue](https://user-images.githubusercontent.com/1331744/77769595-5850d180-7044-11ea-8e6e-d8ffa39e2766.png)

Yes
@lcalvet any clue?

[2020-03-29 18:29] wbblom commented on #120
Allright now it's merged with develop, we can close this issue

[2020-03-29 18:29] #120 closed

[2020-04-07 13:17] tomasdrinovsky commented on #122
Thanks for confirmation.

I have found other such pairs [62, 63], [94, 95], [110, 111], [118, 119].
The pattern here is that all of them have only change in inner most black circle.

My markers were generated using values in array idFourCrowns located in CCTagMarkersBank.cpp.

[2020-04-20 16:31] wi6436 opened #123 "Is CCTag compatible with ARM systems?"
I have tried running the CPU version of CCTag on a Raspberry Pi 3b+ and on an ODROID HC2 (both armv7l). I'm using Docker containers for reproducibility. The compilation works fine, but when I run the detection application on the sample image, it terminates with an std::bad_alloc exception on both systems. I have realized that the exception occurs after allocating ~55 MB of RAM although more RAM wo

[2020-04-20 17:21] fabiencastan commented on #122
@tomasdrinovsky When you have misidentifications for instance between 94-95. Does it always detects 95 instead of 94 repeatably? Or is there some randomness?

[2020-04-20 21:18] lcalvet commented on #122
Dear all,
The detection of the CCTags composed of 4 black rings is not functional at all. Fixing it requires a lot of work. Markers that must be used are the ones located in markersToPrint folder (3 black rings).
Sorry for that.

[2020-04-21 14:22] tomasdrinovsky commented on #122
@fabiencastan 100% reproducibility in any angle, zoom etc.
@lcalvet thanks for information. Unfortunatelly 3 ring markers offer too limited range of ids for my application :(

[2020-05-21 08:42] julianrendell opened #126 "Doesn't build on windows 10, using vcpkg, VS 2019"
I'm trying to build Meshroom, and at the (optional) pre-reqs stage.

The outline of what I've done is here- gist:da6372201234d943d3e4f77e43674fd2

I've used vcpkg to install the pre-reqs, and am using VS 2019, community edition.

Final error:
[code]

cmake configuration output:

[code]

As this is optional, I'm going to move on; but I'd like to see this working as plan to use the tags in some upco

[2020-05-21 13:38] simogasp commented on #126
The GPU part is not yet finished to be ported on windows, we should finish that.
For now, you can use the CPU part, which is a little slower but it is fine for photogrammetry.
You can pass `-DCCTAG_WITH_CUDA:BOOL=OFF` at cmake to disable the cuda part.

[2020-05-21 16:15] spono opened #127 "CCtags printing details"
Hi,
I'm pretty new to Meshroom and photogrammetry.
I read the paper explaining hot the system works but I didn't find any specific info related to the tags themselves, either in the Github issues raised in the Meshroom section or in the manual.

1. Do they need a specific size in order to allow for proper scaling?
2. Do they need a specific colour or not?

Thanks in advance!

[2020-05-21 19:47] julianrendell commented on #126
That got it working, thanks!

Created #128 to update the docs.

[2020-05-21 19:47] julianrendell commented on #126
(and yes please re finishing the CUDA support for windows ;-) )

[2020-05-21 19:47] #126 closed

[2020-05-21 22:40] simogasp commented on #126
now that I remember the problems were related to Eigen and Cuda, the error we are having is the same as
https://github.com/tensorflow/tensorflow/issues/19198

[2020-05-21 23:32] simogasp commented on #126
well the good news is that with this patch
https://bitbucket.org/eigen/eigen/pull-requests/481/bug-1526-cuda-compilation-fails-on-cuda-9x/diff
everything builds fine.
Sadly it is not yet part of any eigen release, we need to wait for the next one (it's in the develop branch)

[2020-05-21 23:44] julianrendell commented on #126
Good news! Thanks for following up @simogasp ! Sounds like this should sort itself out in the (near) future 😃

[2020-05-22 12:51] bubulv commented on #113
I have the same error.
Ubuntu 16.04
cuda 10.0
opencv 3.4.10
eigen 3.3.7

I build without cuda is ok.
I tried use Boost 1.66.0 / 1.70.0 / 1.73.0，but all failed with cuda10.0. They are all the same error.

**ERROR list**
****
/home/kevin/xena/CCTag/src/cctag/Identification.cpp:92:65:   required from here
/usr/local/include/boost/parameter/aux_/arg_list.hpp:936:9: error: body of constexpr function ‘c

[2020-05-22 12:55] simogasp commented on #113
BOOST_NO_CXX11_CONSTEXPR should be added to cctag

[2020-05-22 16:37] bubulv commented on #113
Where to add,  in cmakelist.txt or Multiresolution.cpp?
Can you give me a example? I

[2020-05-22 17:49] simogasp commented on #113
You can add it here
https://github.com/alicevision/CCTag/blob/develop/src/CMakeLists.txt#L111

[code]

[2020-05-23 16:36] simogasp commented on #123
could you trace back to the point in the code where this happens?

[2020-05-27 11:41] lcalvet commented on #127
Hi @spono,
Thanks for your interest.
1. You can rescale your scene from any measurements in your scene. The scale factor can be either computed from a know distance between two or more cctag centers or from the radius of the printed cctags.
2. Black is optimal to maximize the contrast but if your are using cctag under normal, namely non challenging, shooting conditions then it is fine to use any o

[2020-05-27 15:10] spono commented on #127
HI @lcalvet ,

Ok, great. I was just checking because other SW provide tags with specific sizes and I don't know if the size itself can affect the recognition of tags from the algorithm.
As a general suggestion, I would add the centre (a simple dot) to the provied cctags. This could help also the precise positioning of a GPS, when placed in open spaces.

good to know: using different colors could

[2020-05-29 10:14] simogasp commented on #77
first draft here https://github.com/alicevision/vcpkg/tree/ports/cctag/ports/cctag

[2020-05-30 01:19] wi6436 commented on #123
Many thanks for your reply. It seems that the issue occurs in the allocations with "new" in Types.cpp line 15 and following.
[https://github.com/alicevision/CCTag/blob/develop/src/cctag/Types.cpp#L15](https://github.com/alicevision/CCTag/blob/develop/src/cctag/Types.cpp#L15)
It is not tied to one particular of these lines, actually, when I comment the failing line, the issue instead occurs in the

[2020-05-31 00:06] #76 closed

[2020-05-31 00:06] #73 closed

[2020-05-31 00:06] #72 closed

[2020-05-31 00:06] #45 closed

[2020-05-31 00:06] #8 closed

[2020-05-31 11:38] simogasp commented on #73
The latest version can now build on windows, at least for the CPU part

[2020-06-18 10:05] pgehring opened #136 "Python binding of CCTag interface"
Hi,

I am working on a pure python application which utilizes the meshroom pipeline. I want to be able to call the cctag detection library from python and get the data passed to python. So, I started to implement a python binding of the ICCTag.hpp file.

Unfortunately, I don't get this working, because my knowledge of c++ projects is very basic.
Does someone mind to share some thoughts about, whic

[2020-07-01 00:08] #102 closed

[2020-08-05 13:46] majioa opened #137 "[bug] system halt on 25% on EllipseGrowing.cpp"
**Describe the bug**

When compiling as of the command line, on the file  **EllipseGrowing.cpp** (about 25%) the system halts and the compilation is killed by the compiler.

**To Reproduce**
Steps to reproduce the behavior:

$ mkdir BUILD
$ cmake .. -DCMAKE_SKIP_RPATH:BOOL=ON -DCMAKE_SKIP_INSTALL_RPATH:BOOL=yes '-DCMAKE_C_FLAGS:STRING=-pipe -frecord-gcc-switches -Wall -g -O2 -march=i586 -mtune=gen

[2020-08-05 13:47] majioa commented on #137
Probably similar: to #101

[2020-08-05 14:26] majioa commented on #137
the problem can be fixed by using single thread compilation:

    make -j1 -C BUILD

[2020-08-29 08:41] #75 closed

[2020-09-09 20:59] elektrokokke opened #138 "Question: possible to get additional CCTag points for plane equation/normal vector computation from calibrated cameras?"
Hi all!

I read in the paper that the concentric circles, or their elliptic projections, respectively, can be used to get two other points apart from the projection of the circles' center. These could be used to determine the plane equation within which an observed CCTag lies, up to 2 degrees of freedom: scale and rotation around the plane normal. All given that the intrinsics of the observing cam

[2020-09-16 11:33] elektrokokke opened #139 "[question] Why is boost 1.66 needed?"
**Describe the problem**
I recently built CCTag on Ubuntu Bionic (18.04). Stock boost version there is 1.65, thus CCTag does not build out of the box. Changing the boost version is not that easily possible, as a lot software (at least on my system) depends on Boost 1.65. Having another Boost version somewhere else in parallel means building Boost yourself.

So, I just changed the required version

[2020-10-02 12:59] #91 closed

[2020-10-02 13:02] simogasp commented on #91
This is now available here
https://github.com/alicevision/CCTag/tree/develop/markersToPrint/generators
Check the doc for the usage:
https://cctag.readthedocs.io/en/doc-first/markers/markers.html

[2020-10-02 21:33] elektrokokke commented on #127
Hi Spono,

having a little dot in the centre should pose no problems. I put a little cross, which does not interfere neither with detection nor decoding.

For outside scenes with direct sunlight it might make sense to use a light grey instead of white for the background, as overexposure leads to errors in decoding. This is because the black ellipses can get "thinned" by overexposure of the backgro

[2020-10-04 21:35] simogasp commented on #138
@lcalvet

[2020-10-04 21:45] simogasp commented on #139
It is possible that lower boost versions are compatible, 1.66 is the version that has been used to develop the most recent changes and the port to windows. Indeed it may be related to the use of stacktrace under windows
see https://github.com/alicevision/CCTag/commit/d1e18a2af46c0d1d33aad97bf16843fe7075fd50

So we choose to have a common minimum version requirement for all platforms.
Maintaining t

[2020-10-05 08:53] spono commented on #127
wow, that's a great hint...thank you so much!

[2020-10-05 09:25] simogasp commented on #127
Also note that now you can generate the cctag to print
https://github.com/alicevision/CCTag/tree/develop/markersToPrint/generators
Check the doc for the usage:
https://cctag.readthedocs.io/en/doc-first/markers/markers.html

Hope it helps

[2020-10-22 14:02] airibar-vicom commented on #123
Hey! Is there any update on this issue? I am trying to compile CCTag in ARM64 for using it with Hololens 2 but I am having trouble when building in Visual Studio. Is CCTag compatible with ARM64?

[2020-10-22 14:04] ai-710 commented on #123
Hey! Is there any update on this issue? I am trying to compile CCTag in ARM64 for using it with Hololens 2 but I am having trouble when building in Visual Studio. Is CCTag compatible with ARM64?

[2020-10-22 14:08] simogasp commented on #123
Can you post the log of the errors that you get?
I never tried to build on arm, I don't know how and if cuda is supported on the system (but you can always disable that part).

[2020-10-22 14:20] griwodz commented on #123
NVidia supports CUDA for ARM+Linux. Look for the correct CCs in this table: https://en.wikipedia.org/wiki/CUDA#GPUs_supported in the column "Tegra, Jetson". Tegra and Jetson have ARM CPU cores.

But the Raspi, Odroid and Hololens have no CUDA card, so in this case there's no point in trying. But those systems have enough physical memory? What happens when you reduce the defines for MAX_RESOLUTION

[2020-10-22 16:42] wi6436 commented on #123
Thanks for your replies. There is no news from my side.

Dear griwodz, could you show me how to edit the MAX_RESOLUTION and MAX_POINTS parameters? I will retry it then. Many thanks!

[2020-10-25 15:41] wi6436 commented on #123
I have tried lowering MAX_RESOLUTION and MAX_POINTS significantly and also scaled the preview image sample/01.png sufficiently. Running detection on the Raspberry Pi 3B+ still fails with std::bad_alloc.

In order to mitigate low memory issues, I had assigned an 8GB swapfile on an external drive for the test, but it didn't help. Also, I have tried it without Docker this time, so that I'm sure that

[2020-11-05 00:25] guizy67 opened #141 "[question] Which MarkerId to use in Meshroom SfMTransform node"
CCTag markers to be printed are clearly numbered from 1 to 32.

However in this guide, the markers are numbered 0 and 1, whereas they look like markers 1 and 1.
https://github.com/alicevision/meshroom/wiki/CCTAG-scaling

So just to be clear, which numbering is correct, 0-31 or 1-32?

FYI I have followed the above guide and have tried both numberings and currently the SfMTransform node is not match

[2020-11-06 17:10] simogasp commented on #141
yes u are right there is an inconsistency.
The ids go 0-31 we should rename the marker to print

[2020-11-11 20:28] vshesh opened #142 "Cannot compile CCTag on mac os x with cuda [question]"
**Describe the problem**
Tried to follow compilation steps in documentation, got an error

**Log**

[code]

**Desktop (please complete the following and other pertinent information):**
 - OS: OS X 10.13, CUDA version 10.1
 - CCtag version: please specify if you are using a release version or your own build
   - Version  1.0.0
   - Commit reference: ebdfe26d86425ba5c60c05f9b164c5dd23cc87ed (current

[2020-11-11 20:39] simogasp commented on #142
according to this https://github.com/cyberway/cyberway/issues/185
try to add this in src/CMakelists.txt after line  242
[code]
Please let us know if it does fix the problem

[2020-11-11 20:57] vshesh commented on #142
I tried that and I think it solved that problem but now there is another - let me know if you want a separate issue for it.

[code]

[2020-11-11 23:17] vshesh commented on #142
Alright, changing those two lines to `!=` instead of `>=` has fixed the problem and everything compiled.

[2020-11-11 23:17] #142 closed

[2020-11-12 19:24] vshesh opened #143 "Error trying to run program [question]"
**Describe the problem**
Compilation completed successfully
Then I ran
[code]
**Desktop (please complete the following and other pertinent information):**
 - OS: OSX 10.13
 - CCtag version: 1.0.0 (built myself from master)

[2020-11-12 19:46] vshesh commented on #143
Ok sorry this is a CUDA issue on my end... let me figure it out.

[2020-11-12 19:46] #143 closed

[2020-11-16 06:41] irmadibra opened #144 "[question] eigen 3.3.9 win"
I am trying to run the CCTAG project on windows the feature below is needed?
In order to have Cuda support on Windows, at least Eigen 3.3.9 is required.
 However the last version at the moment of eigen i could find is 3.3.8 but not working any suggestions?

[2020-11-16 11:35] simogasp commented on #144
Yes there is an upcoming release of eigen, meanwhile you can just pull the repository https://gitlab.com/libeigen/eigen, the latest version has the needed patch

[2020-11-23 19:13] wi6436 opened #145 "detection coordinate outliers"
I have a fixed CCTV camera pointed to a fixed 3-ring tag. The tag appears with a diameter of ~160 pixels in the recorded image. I retrieve a new jpg frame from the camera periodically, I apply the detection sample program and log the detected coordinates.

The noise performance of the detected coordinates is usually (>99.9% of images) excellent and the coordinates stay constant fluctuating only wi

[2020-11-25 13:14] simogasp commented on #145
Would it be possible for you to share some images (some "good" and "bad" images) so we can reproduce the problem?

[2020-12-27 00:19] #118 closed

[2021-01-06 08:12] tlalexander opened #146 "[bug] Bad link in readme."
Hello! The very last link in the readme links to an adult website. It seems like the original link may have expired and been re-purchased or something?

I am not going to drop the link here as it should be removed or fixed. But the link is on the word POPART on the following sentence in the readme.

This has been developed in the context of the European project POPART founded by European Union’s H

[2021-01-07 12:55] #146 closed

[2021-01-10 06:55] tlalexander commented on #113
Wow! I spent a few long nights trying to get this to compile and all I actually needed to do was add that definition.

Thank you for providing the solution, I finally got it to build.

Is there a reason this isn't part of the repo? Would you like me to submit a pull request?

[2021-01-19 15:58] Huemerj opened #149 "[question] exact marker center"
I'm trying out your library and first of all, I have to say that the results are quite nice!

During my tests, one question appeared regarding the exact coordinates of the circle center.
I tested the library with the samples you provide. They are 1400x1400px with 3 black rings.
So I was curious what the expected output of the center detection on these basic images is? I would expect (700,700) as t

[2021-01-22 17:35] simogasp commented on #149
Which markers are you using? From the pdf files or did you generate them with the python script?
It is actually strange, it could also be the rendering of the image.
@lcalvet

[2021-01-25 10:01] Huemerj commented on #149
![0001](https://user-images.githubusercontent.com/9680593/105690657-8de07880-5efc-11eb-90ef-52dd5d9992f1.png)

For this example image, I get 699.38 699.585 as a result of the "detection" application.

[2021-01-25 10:07] Huemerj commented on #149
Are these coordinates (699.38,699.585) pixel coordinates? With (0,0) being the center of the upper left pixel, this would mean that (699,699) is the center of the 700th pixel in both directions. This would make sense, as 699.5 would lie in between the 700th and 701st pixel, which would correspond to the center of the image.

[2021-01-25 10:43] simogasp commented on #149
Ah yes, silly me. The output always considers the first pixel on the top left as the origin (0,0), while if u use any image editor it's likely to be considered (1,1).

[2021-01-25 13:13] Huemerj opened #150 "[question] upscaling vs. parameter change for small target detection"
The target detection works quite well if a target is big enough, compared to the size of the whole image.
If this is not the case, i.e. if the target is really small (30px in a 1400px image), the target is not detected anymore.
So in order to detect a target in a comparatively big image, I can crop the target and then up-scale the cropped image part. Then I can detect the target reliably in the up

[2021-01-25 13:38] OndrejIvancik commented on #149
Hello, I am encountering the same problem. If the center of the first pixel has coordinates [0.5, 0.5] I would expect the center of the cctag to be exactly around [700.0, 700.0] -- this is the position between 700th and 701st pixel.
I found the problem on my dataset with 80 images (each has cca 6 detections). I created the second dataset and rotate it by 180 degrees. I run the detector and compare

[2021-01-29 09:02] fabiencastan commented on #113
@tlalexander Yes, it would be good to make a PR for that.

[2021-03-06 02:50] xixijimmy opened #156 "[bug] demo "detection" running error: cudaErrorLaunchOutOfResources: too many resources requested for launch"
**Describe the bug**
I have completed the compiling stage (with cuda support) and when I tried to run the demo which is showed in the README file an error was throwed out :

Creating TagPipe 0
Initializing TagPipe 0
Loading image 0 into TagPipe 0
terminate called after throwing an instance of 'thrust::system::system_error'
  what():  copy_if failed on 2nd step: cudaErrorLaunchOutOfResources: too m

[2021-04-02 08:32] yeguoqiang11 opened #157 "why it often cannot detect the rings with very good picture using default parameters[question]"
**Describe the problem**
creating a board with a lot of tags, but it can only detect half of them using default parameters, my board image is as good as following image:
![Screenshot from 2021-04-02 16-20-14](https://user-images.githubusercontent.com/81662082/113398258-e0448680-93d0-11eb-9355-de34f8e41340.png)

[2021-04-02 10:13] lcalvet commented on #157
You may try to change the value of MAX_MARKER_FOR_IDENT in ccta/cuda/onoff.h to something greater than 60, e.g. 100.
Don’t increase it too aggressively: this is pinned memory that CCTag will keep in the computer’s physical memory (not only virtual memory) until the end of the program.

[2021-04-02 10:23] simogasp commented on #144
eigen 3.3.9 is out now https://gitlab.com/libeigen/eigen/-/releases/3.3.9

[2021-04-03 06:48] yeguoqiang11 commented on #157
thank you. when i print ten tags in image, it cannot detect all. what about other parameters.

[2021-04-04 03:03] yeguoqiang11 opened #158 "what is accuracy from distortion and perspective transformation of tags[question]"
as i want to use cctag to calibrate the cameras, and cameras is a fisheye with big fov(240 degree), can it get what accuracy of tags.  fisheye has a big radical distortion, and we get the image from different angles, so it is important for us to get high accuracy localization position to get a good intrinsics from difficult situation. thank you very much.

[2021-04-06 17:01] lcalvet commented on #157
Please share the input images along with your results for your failure cases.

[2021-04-06 17:05] lcalvet commented on #158
It all depends on the size of the imaged cctags. If they are small enough s. t. their boundaries are nearly ellipses, they will be detected. The detection algorithm assume a pinhole camera model.

[2021-04-08 09:14] zhiyu2020 opened #159 "[question] How can I detect all in one paper which contain 114 same cctags with a boundary of images?"
**Describe the problem**
I compile cctag and use it to detect a picture with 114 cctags. However I cannot detect all cctags. Normally I get only 110 - 114 tags. I have 12 picutres. How can I detect all tags in pics without adjusting params?
**Screenshots**
![image](https://user-images.githubusercontent.com/38719444/114000287-6f4c1580-988d-11eb-9b76-b255544db3d8.png)

![image](https://user-images.g

[2021-04-09 14:31] lcalvet commented on #159
You should first of all respect the required margins (see warning https://github.com/alicevision/CCTag) between cctag-pairs et between cctag and image or page boundaries.
If you still face the problem, please post the input images and your detection results.

[2021-04-12 01:27] zhiyu2020 commented on #159
- I plan to upload the pictures, these pictures are made up from photos taken by real scene. part of raw imgs are as follows:

[concentric.zip](https://github.com/alicevision/CCTag/files/6293245/concentric.zip)

-  I modify the the configs  to adjust detection rate.
![image](https://user-images.githubusercontent.com/38719444/114328851-6cdd0a80-9b70-11eb-8bbc-bf282d4b8d9d.png)
- the pictures I inpu

[2021-04-14 11:37] zhiyu2020 commented on #159
- **I have a problem about brightness. I think this program has something wrong with brightness. I control the same parameter and input img. But I get the different result.** (PS. I decrease the lightness of the simulation img). Maybe you can try this picture.
[concentric2_lowerbright.zip](https://github.com/alicevision/CCTag/files/6310517/concentric2_lowerbright.zip)
- the screenshot below are th

[2021-04-14 11:38] zhiyu2020 commented on #159
![image](https://user-images.githubusercontent.com/38719444/114704183-e3d4f780-9d58-11eb-8f4a-e1d9f4283bba.png)
- The parameters are above. I hope it will help you fix the bug.

[2021-04-20 08:00] #159 closed

[2021-04-23 01:52] zhiyu2020 commented on #122
Have you solve the problems. I have the same question.

[2021-05-11 13:47] Paul-Christo commented on #136
Hi Phil,

Did you ever manage to solve this? I am interested in getting a python implementation of the AliceVision CCTag library.

If anyone else knows of a python implementation of the CCTag library then please point me in the direction. I have a python program already implemented and would like to switch to the more robust CCTag markers (due to the challenging conditions I am tracking in).

Many

[2021-05-25 07:07] simogasp commented on #99
now it works
https://github.com/microsoft/vcpkg/pull/16719

[2021-05-25 07:07] #99 closed

[2021-05-25 10:26] Paul-Christo opened #161 "Found OpenCV Windows Pack but it has no binaries compatible with your configuration."
Hi All,

I am hoping someone can help me build CCTag so that I may run the detection application from the command line (CCTag > src > applications > detection). I am on Windows 10 (64Bit) and a beginner at C++ (although I have programming experience in other languages).

I essentially want to get it running from the command line so that I can feed it in a video file and get out a stream of 3D coor

[2021-05-25 11:59] simogasp commented on #161
I don't think u need to specify the `OpenCV_DIR` variable, if you build it with vcpkg you only need `-DCMAKE_TOOLCHAIN_FILE` to find that.
And in any case `OpenCV_DIR` should point to -DOpenCV_DIR="C:\src\OpenCV\build\install\share\OpenCV/" where the `OpenCVConfig.cmake` can be found.
But try without the `OpenCV_DIR`

[2021-05-27 05:58] simogasp commented on #77
WIP PR
https://github.com/microsoft/vcpkg/pull/16719

[2021-06-24 06:12] #157 closed

[2021-06-24 21:37] pgehring commented on #136
Hi Paul,

first of all sorry for the late reply.
My usecase was very simple so, I ended up with `pybind11` and a very basic python wrapper for the CCTag Interface. If I recall correctly, I used this example for the python wrapper https://cctag.readthedocs.io/en/latest/api/usage.html#detection.
The solution was very basic but was enough for my usecase.
Hope this still helps.

greets
Philipp

[2021-06-28 06:59] Paul-Christo commented on #136
Hi Philipp,

Thanks for the reply. That example would be similar to what I would want to bind. Good to know you got it to work.

Many thanks,

Paul

[2021-06-28 18:35] pgehring commented on #136
Hi,

I found the file. As I said, it is far from advanced!

greets
Philipp

[code]

[2021-06-29 07:22] Paul-Christo commented on #136
Hi Philip,

You are a hero! Thank you very much for the file. You have saved me the burden of re-writting it as I am new to Python binding.

Regards, Paul

[2021-07-21 15:32] #141 closed

[2021-08-09 00:23] #137 closed

[2021-08-13 09:08] Blup1980 opened #167 "[bug] Current vcpkg compilation is not working out of the box"
I recently installed vcpkg on windows 10 along with VS2019 community.

I ran:

`vcpkg install cctag[cuda,apps]:x64-windows`

It crashes even after manually applying the fix for the known issue #166

The problem appears :
`Creating library src\CCTagd.lib and object src\CCTagd.exp
Bresenham.cpp.obj : error LNK2019: unresolved external symbol "int __cdecl boost::math::sign<int>(int const &)" (??$sign

[2021-08-13 09:23] simogasp commented on #167
Thanks for reporting that.
Does adding `boost::math` to cmake fix the problem?
boost::math is headers only (except for few functions not used here), it's strange that the compilation passed on vcpkg CI. And on my side, I didn't have this problem with a build from scratch. Or maybe it's the new version of boost that changed the structure of the files or something. I'll try to test again

Anyway, if

[2021-08-13 09:33] Blup1980 commented on #167
Yes, indeed adding the lib to CMake fixed the problem.
I had already fixed it, but the workflow here is to first create an issue and then resolve it in a PR. ;-)

[2021-08-13 10:09] Blup1980 opened #169 "[bug] vcpkg compilation error : BOOST_NO_CXX11_NOEXCEPT"
I recently installed vcpkg on windows 10 along with VS2019 community.

I ran:

`vcpkg install cctag[cuda,apps]:x64-windows`

It crashes even after manually applying the fix for the known issue #166 and #167

The complain was that BOOST_NO_CXX11_NOEXCEPT is no longer supported in Boost from March 2021
I had a look where BOOST_NO_CXX11_NOEXCEPT is defined and found one file : cctag_cuda_runtime.h

[

[2021-08-13 12:04] simogasp commented on #169
I think everything can be removed now.
We now are requiring c++14, so we can forget about those CXX* definitions and since nvcc only supports c++14 starting from cuda 10, also the other definitions can be dropped.
And we should also raise the minimum cuda version from 7 to 10.
You can try to comment all those define out and see what happens

[2021-08-16 19:31] nicolasdp88 opened #170 "CUDA detection not working Windows 10"
I successfully compiled cctag from the develop branch.

Dependencies are from vcpkg, with a slight patch to fix Boost constexpr issues.

CCTag develop is configured like this :

`cmake -DCMAKE_TOOLCHAIN_FILE="[..]/vcpkg.cmake" -DCCTAG_ENABLE_SIMD_AVX2=ON -DBUILD_SHARED_LIBS=ON -DCCTAG_WITH_CUDA=ON -DCCTAG_CUDA_CC_CURRENT_ONLY=ON ..`

It compiles fine in Release.

When running detection.exe on the

[2021-08-17 12:47] Blup1980 commented on #170
I observe the same behavior using the exact same version as you (CUDA and boost) except that I have a Quadro P1000.

[2021-08-18 15:45] cristian893 commented on #170
Hi,

I have the same issue, but running on Ubuntu. When detection script is running on CPU everything is OK, detect the candidates, but when is running on GPU I have zero detected candidates.

Did you solved this?

Thank you!

[2021-08-18 15:58] simogasp commented on #170
Which card do you have?

[2021-08-18 16:11] cristian893 commented on #170
Hi,
Nvidia GTX 1050 TI

[2021-08-19 06:26] griwodz commented on #170
I did a clean install and now I'm getting the same on the 1080. Clearly something went really wrong after fixing the CPU-side code. I'm afraid figuring it out will take a while :-(

[2021-08-19 08:17] cristian893 commented on #170
Is there older release or older version that I could try to run on GPU?

Thank you!

[2021-08-23 15:59] nicolasdp88 commented on #170
Hello all!

First time playing with CUDA, but I've got this thing working.

@griwodz
Problem was that it was using too many threads per block when launching vote::eval_chosen in frame_07c_eval.cu.

Made the block size 24 and all works as expected.

@simogasp
How can I submit a patch for this? Not much of a github contributor either...

[2021-08-30 09:20] antithing opened #171 "vcpkg cannot find cctags"
**Describe the bug**

When i run:

`D:\vcpkg>vcpkg install cctag[cuda,apps]:x64-windows
`

or

`vcpkg install cctag[cuda,apps]
`
I getthe error:

`Error: Cannot find definition for package `cctag`.
`

**To Reproduce**
Steps to reproduce the behavior:

run

`vcpkg install cctag[cuda,apps]
`

on windows 10

**Expected behavior**
download and install cctage

**Desktop (please complete the following a

[2021-08-30 09:30] antithing commented on #171
AH, please ignore, updating vcpkg has solved this

[2021-08-30 09:30] #171 closed, assigned to nobody

[2021-08-30 12:55] antithing opened #172 "Tag detection is very slow (CUDA 11.1, Windows 10)"
I have this code built under windows, with CUDA 11.1. The lib compiles, and so does teh 'detection' application.

When i run the detection on the sample image using:

`detection -n 3 -i sample/01.png`

It finds the markers and displays them, but it takes:

`Total time:  5.103234s wall, 5.218750s user + 0.000000s system = 5.218750s CPU (102.3%)`

more than five seconds! is this expected? I am looki

[2021-08-30 13:07] simogasp commented on #172
try `detection -n 3 -i sample/01.png --use-cuda`
see here
https://github.com/alicevision/CCTag/blob/develop/src/applications/detection/CmdLine.cpp#L44

[2021-08-30 14:19] antithing commented on #172
Ah thank you! This has it running at around 130ms for the sample image, on a GTX 1080.

Aside from resizing the image, is there any other tweaks to make to speed up the functions?

Thanks again!

[2021-08-30 14:53] simogasp commented on #172
try with a video, because on a single image there might be some overheads involved I guess

[2021-08-30 15:19] antithing commented on #172
Okay thanks, i will try it.

Just so i hav realistic expectations, what is the top speed of this code, roughly, at 1920 x 1080 image size?

[2021-08-30 15:22] simogasp commented on #172
normally it should be real-time with FullHD videos

[2021-08-31 16:07] antithing commented on #172
Hi again, I am testing with a video file (1920 x 1080) with three markers visible. Using CUDA, on a GTX 1080 card, I still see slow frame times (150 - 230 ms)

The log is:

`#frame 333
Detected 5 candidates
660.546 667.647 0 1
1003.29 682.542 9 1
1354.46 698.786 14 1
1354.4 698.556 14 -4
1354.6 698.46 14 -4

3 markers detected and identified
Times passed in milliseconds: 213.893
Loading image 334

[2021-09-01 07:17] charles-str opened #173 "Are there any requirements for radius? [question]"
Are there any requirements for radius?
I make a image, but it can not be recognised.

this is my image made by myself.
![work](https://user-images.githubusercontent.com/35334263/131629158-4fad6d23-1f57-4662-b282-412bc0c3c9b5.jpg)

[2021-09-01 07:18] charles-str commented on #173
![Uploading w.jpg…]()

[2021-09-03 14:28] simogasp commented on #173
You can have a look at the script to generate the markers here
https://github.com/alicevision/CCTag/blob/develop/markersToPrint/generators/generate.py
to be recognized the ratio of the width of the circle has to be met.

About the overall size of the marker, you can have a look at this short documentation
https://cctag.readthedocs.io/en/latest/markers/markers.html

[2021-09-05 17:17] #167 closed, assigned to nobody

[2021-09-05 17:21] #144 closed

[2021-09-05 17:27] simogasp commented on #169
I confirm that removing `BOOST_NO_CXX11_NOEXCEPT` and `BOOST_NO_CXX11_CONSTEXPR` everything works on windows.

@griwodz do you think we can safely remove all these definitions now that we are requiring c++14, so we only deal with cuda > 9 and more recent versions of msvc > 19

[2021-09-06 02:53] charles-str commented on #173
thanks for your answer, I understand how to make the ratio of the width of the circle with your code.
But I don't konw why use these ratio, I make other ration  of the width of the circle by myself,  it can not recognized.
Could you tell me the reason?  and how to modify the code to  recognise other ration  of the width of the circle.
I look forward to your answer.

[2021-09-06 12:43] simogasp commented on #173
Those ratios are the ones that have been found to work better and in a robust way to avoid ambiguities for marker identification (cf Gallo's paper O. Gallo and R. Manduchi. Reading 1d barcodes with mobile phones using deformable templates. IEEE Trans. Pattern Anal. Mach. Intell., 33(9):1834–1843, 2011.).

The values are hardcoded here
https://github.com/alicevision/CCTag/blob/ba0daba0ff1e2c4e26982

[2021-09-09 09:42] dengjuncan commented on #136
@pgehring
Hi Philip,
Can you share your CmakeLists about this Python binding?
Regards, Duncan

[2021-09-12 09:17] pgehring commented on #136
Hi Duncan,

I integratetd `pybind11` into my project as a submodule and included it in the top level `CMakeList.txt `of my project. This toplevel `CMakeList.txt` includes also the `referenceMeas/pycctag` module, which has its own `CMakeList.txt`.

### Toplevel CMakeList.txt
[code]

### pycctag CMakeList.txt
[code]

I hope this helps.

Regards, Philipp

[2021-09-13 08:18] dengjuncan commented on #136
Thank u Philipp!  It works well!
I make some changes in my cmakelists.txt since the cctag detection is used as a singel function.
### pycctag CMakeList.txt
[code]

### pycctag_test.py
[code]

[2021-09-24 11:07] Blup1980 commented on #170
What did you changed exactly to fix the issue?
I was trying to reproduce your fix but I can't figure out exactly where you changed what.

you can post here an extract of the code that you changed.

[2021-10-01 11:09] #127 closed

[2021-10-08 00:24] #139 closed

[2021-10-08 17:16] #169 closed, assigned to nobody

[2021-10-22 17:40] nicolasdp88 commented on #170
@Blup1980

Sorry I did not see this sooner.
Here is what I patched

[cuda patch.txt](https://github.com/alicevision/CCTag/files/7400446/cuda.patch.txt)

[2021-10-31 12:57] simogasp commented on #77
merged on vcpkg microsoft/vcpkg#16719

[2021-10-31 12:57] #77 closed

[2021-10-31 12:59] simogasp commented on #113
fixed in #174

[2021-11-01 06:34] MrIsland commented on #150
Hi!

[2021-11-01 06:38] MrIsland commented on #150
Hi !

Did you ever manage to solve this question ? I happen to have the same problem as you and want to ask if anyone else knows of the solution to this problem?

Sorry to bother you, many thanks.

[2021-11-03 12:07] #113 closed

[2021-11-23 14:38] Blup1980 opened #175 "[bug] Missing dependency in Docker image"
I tried to build the docker image using the provided information.
It worked successfully with the default Dockerfile of version 1.0.1.

I connect my terminal to my cctag container and when I run
`/opt/cctag/build/Linux-x86_64/detection`

I get:
`./detection: error while loading shared libraries: libboost_chrono.so.1.70.0: cannot open shared object file: No such file or directory`

Looking at the d

[2021-11-23 15:43] simogasp commented on #175
yes I think we forgot to update the `LD_LIBRARY_PATH` in the docker_deps

[2021-11-25 10:26] Fylg1 opened #176 "[question] CCTag Feature Extraction fails"
Hi,

First of all thank you very much for this awesome tool! I really enjoy working with it! I hope you can help me with my problem:
I am trying to use CCTags in my SfM-Project, however when I enable the "cctag3"-describers in the "feature extraction"-node, the step fails.
I have tried it with different scenes, amounts of markers (from the markersToPrint-section), two different cameras (IPhone SE

[2021-11-25 12:16] simogasp commented on #176
can you re-run with a more detailed verbosity level, like Debug?
There is no apparent error message so it's strange that the node is set in error

[2021-11-25 12:27] Fylg1 commented on #176
Hi, thanks for your answer. I ran it again on "Debug" and als "Trace". Here is the log output for "Trace". Status seems unchanged.
[code]

[2021-11-25 13:21] simogasp commented on #176
it's strange, it's like the threads get stuck.

can you run the command line in a terminal to see if there are some errors that pop up (you are on windows right?)
[code]
(you may need to set the PATH to point to the folder containing all the alcievision libraries and dependencies)

Also you can quickly test with the two sample images that come with this repo
https://github.com/alicevision/CCTag/tr

[2021-11-25 14:13] Fylg1 commented on #176
Hi! Thanks for the assistance!
So the command line did not work, but also did not throw any errors there (I also once changed the output dir to see if anything was happening- nothing was done). Your tip on limiting the number of threads however worked perfectly, and the FeatureExtraction succeeded. However, now it gets stuck in the ImageMatching, stating that the descriptor for the first view it t

[2021-11-25 15:10] simogasp commented on #176
try to force "Exhaustive" method in the attributes of the node.

Also can u check one of the .feat files by loading it into e.g. Notepad (it's a simple text file)

[2021-11-25 15:40] Fylg1 commented on #176
Hi!
Forcing the exhaustive mode unfortunately did not change anything. The .feat files contain something like
[code]
hope that helps...

[2021-11-25 16:00] simogasp commented on #176
There is something strange because it seems like it is trying to load the SIFT* descriptors for the vocabulary tree which should not be the case for the EXHAUSTIVE method.
Do you get a line `[16:46:24.431608][info] Use EXHAUSTIVE method.`?

the error you receive comes from a call to `getListOfDescriptorFiles()` which as said above tries to look for SIFT features.
https://github.com/alicevision/Ali

[2021-11-25 16:15] Fylg1 commented on #176
So I built a completely new project to avoid there being multiple cashe folders etc. I did one run with FeatureExtr. set to 1 thread and CCTag3 only. ImageMatching set to"Exhaustive" with verbose "Trace". Again stopped at ImageMatching with the following log:

[code]
So no "Use EXHAUSTIVE method" promt. (I am using Meshroom 2020.1.1 for this trial right now if that matters).
Is it normal that the

[2021-11-25 16:20] simogasp commented on #176
ok that seems to be a bug of 2020.1. I just replicated it.
Can you try with 2021.1 with a clean project etc? For me it works.

[2021-11-25 16:32] Fylg1 commented on #176
Great! Worked like a charm in 2021.1.0 (on 1 thread)!  I will try to run the full pipeline now!
Thanks for the great help already, really helped me out! :)

[2021-11-26 07:03] Fylg1 commented on #176
Hi,
so the CCTag-only reconstruction failed in the SfM-step due to no valid tracks:
[code]

However, by also adding sift to the describer types in all nodes (building a second FeatureExtraction node running on all threads to speed things up) I was able to get it to succeed. Probably this simple dataset with only 8 images does not suffice for CCTag-only SfM?
I am now running some trials on a much l

[2021-11-26 10:08] simogasp commented on #176
to run it with cctag only you need more tags in the same image.
And even so, it's unlikely to work straight away because of some parameters that are too strict on the number of tracks.
If you need it I can push a branch in which I relaxed some constraints that enable the reconstruction with markers only (you cannot make these changes from the GUI)

[2021-11-26 10:17] Fylg1 commented on #176
Hi, thanks for the info and offer. I don't really think this is necessary, as in normal projects, I would not rely on tags only. Was just trying it out to see if the tags are working. In reality, it will always be a combination (tags to help matching in difficult scenes) and that seems to work fine! But thanks for the assistance again and the offer! 🥇

As everything is clear now, i will close the

[2021-11-26 10:17] #176 closed, assigned to nobody

[2021-11-28 00:26] #145 closed

[2021-12-19 11:42] bartoszek opened #177 "[bug] tbb:2021 compatibility."
Current code needs some polish to be able to build with the latest intel oneAPI:>TBB:2021

[2021-12-20 03:07] MrIsland opened #179 "cctagDetection works well in ubuntu but failed in windows 10"
**Describe the problem**
When I move this application from ubuntu 18.04 to windows 10, the cctagDetection function shows an error as "Assertion failed". I checked that all inputs to this function are consistent with the ubuntu environment, and I didn't know where the wrong is.
Look forward to your favourable help! Many thanks.

ps.
I installed cctag by using cmd vcpkg. [vcpkg install cctag[apps]:x

[2021-12-20 09:26] simogasp commented on #179
Is this a code that you wrote yourself?
Can you try with one of the images in the sample folder here in the root of the project?
You can also try to use the `detection` application of this repository (`src/applications/detection`) which vcpkg installs in the `tools` folder.

[2021-12-21 02:35] MrIsland commented on #179
Thanks for your help!
I tried both ways you mentioned, but still have problems. The `detection` application can run successfully both with the image in the sample folder and image of mine. However, for the first way, I rewrote a test script and replaced the image with the one you mentioned. It still failed in opencv.....

Below are my failed attempts.
![image](https://user-images.githubusercontent

[2021-12-21 19:55] simogasp commented on #179
Sorry I don't have a pc at hand to test your code.
The only difference wrt the code of the `detection` app is that it uses a different `cctagDetection()`function, as there are several overloaded functions with the same name but different input parameters. You can try to use the same just to be sure (you can forget about all the debug functions that are called before and after) and see if there is

[2021-12-24 02:24] MrIsland commented on #179
I'm sorry for the late reply to you !
In fact, the code of test script comes from the library usage in the documentation on github. I previously thought that as long as the parameters passed in were the same as the sample program, the cctag would be detected without any problems.
I went and looked up the `cctagDetection()` function, I found two in `ICCTag.hpp` , both of them lead to `cctagDetectio

[2021-12-24 12:21] simogasp commented on #179
that's really strange. All the overload functions will give the same results, so at least it is good that it fails consistently.
But it is strange that the error at line 181 is a out of bound kind of error, `imgDX` should be larger than the original image because of the `filter2d()` call a few lines above with the `BORDER_REPLICATE` option.
Could you check the size of `imgDX` and `imgSX`?

[2021-12-25 02:51] MrIsland commented on #179
I tried it. And the size of `imgDx` and `imgDY` are both `1920 x 1440`. I'm sorry that I‘m not very familiar with the `fileter2D()` of `opencv`, so what should the size of imgDX be in principle after this step?

And I found some info in  [opencv 3.4.16](https://docs.opencv.org/3.4.16/d4/d86/group__imgproc__filter.html#ga27c049795ce870216ddfb366086b5a04)
.It seems the output image should be the sam

[2021-12-25 10:54] simogasp commented on #179
Oh yes my bad, the borders are treated internally and the return images have the same size.
So that `<= size.height` in the for loop is wrong, should be only `<` but I wonder how it worked so far and for the `detection` application :thinking: :worried:
Does it fail even when you build and run in Release mode?

[2021-12-27 02:34] MrIsland commented on #179
Oh ! The answer is Release mode, as it can run successfully in that mode. It's my bad ignoring this....
Thanks for your patience and help!

[2021-12-27 09:47] simogasp commented on #179
No, it's not your bad, there must be something wrong. In release mode all those error messages are simply disabled, which means it is potentially reading past the bounds of the images. So that's not the answer. So thank YOU! ;-)

@griwodz any idea about that `<= size.height` that reads one row past the image size?

[2022-01-24 12:23] griwodz commented on #179
That code is quite old, I cannot remember touching it.

But I don't think that the <=size.height in cvRecode.cpp:178 is a problem. The map buffer is allocated with size (layers * (width+2) * (height+2)) in cvRecode.cpp:149.

The lines "const short* _imgDX = imgDX.ptr<short>(i);" are just initializing a pointer that points outside plane boundaries, but it's only used in the if(<size.height) branch.

[2022-01-24 12:36] griwodz commented on #179
Ah, now I get it. Lines 181 and 182 should happen inside the "if( i < size.height)" branch.

The code tells me that this must be a feature that is only switched on during debugging. Because as I wrote about: those "imgDX.ptr<short>(i);" instructions should never, ever touch the memory.

And this is what I see in https://github.com/opencv/opencv/blob/4.x/modules/core/include/opencv2/core/mat.inl.hp

[2022-01-24 16:59] simogasp commented on #179
yes we need to move the declaration inside the if and do a new one later on L243-244

[2022-01-25 14:30] #179 closed, assigned to nobody

[2022-02-22 16:56] SpaceIm opened #181 "[bug] CMake: No vc runtime babysitting please"
**Describe the bug**
Link errors in executables built with Visual Studio, vc dynamic runtime (default runtime of Visual Studio), and CCTag static.

**To Reproduce**
Steps to reproduce the behavior:
1. Build static CCTag with Visual Studio
2. Build an executable in another CMake project and link to CCTag static
3. See this error:

[code]

**Expected behavior**
No vc runtime babysitting. There is no

[2022-02-26 14:29] simogasp commented on #181
Hi, I came up with that workaround after many painful tries and errors to make it pass on vcpkg.
That code was the only way to make the compilation pass the vcpkg test at the end.
Honestly, I don't know exactly what the problem is and why vcpkg needs that.
If you have a better idea, please do propose a solution (other than removing the lines otherwise it won't work on vcpkg).
Thanks!

[2022-02-26 15:12] SpaceIm commented on #181
I don't know what may happen in vcpkg, but for sure a vcpkg port issue shouldn't lead to introduction of bad practice in your lib. It works just fine in conan by removing these lines: https://github.com/conan-io/conan-center-index/pull/9478

Is there a default behavior in vcpkg like linking to static vc runtime if lib is static or something like this? Maybe ping a vcpkg maintainer to understand wh

[2022-02-26 15:29] simogasp commented on #181
I agree with you, we just needed to get the port for various reasons so at some point I went for those changes. But I agree that one should not tamper with the default config.
FYI here is an issue I opened at that time (it was about the other lib, popsift, but the problem was the same)
https://github.com/microsoft/vcpkg/issues/11271

BTW thanks a lot for making the port on conan!
Once it will be m

[2022-04-02 15:40] SpaceIm commented on #181
It has been merged.

- Simple installation:

[code]

- Simple modern usage in a CMake based project (but probably too much detail to add this in your documentation):

  CMakeLists.txt:

[code]

  conanfile.txt:

[code]

  Build its project (Release here):

[code]

[2022-04-08 13:42] santi-ui opened #182 "[question]is there any material to understand Pixel selection more explicit?"
I'm sorry that the Pixel selection part is a little abstract for me , is there any material or reference to help understand it?
thank you so much！

[2022-04-09 00:04] #158 closed

[2022-04-11 01:18] #182 closed, assigned to nobody

[2022-04-19 08:46] simin75simin commented on #113
also using ubuntu 18.04, here's what i need in order to finish the make command as of now:
- custom boost (used 1.71.0 following this post)
- libdevil-dev, libtbb-dev (all taken care of by apt)
- custom cmake (3.23 source from github works)

[2022-04-20 10:32] simin75simin opened #184 "[question] marker size"
**Describe the problem**
I get the idea from [this page](https://cctag.readthedocs.io/en/latest/markers/markers.html?highlight=radius#print-the-markers) that the marker shall be proportional to u / f, which I think is the upper left entry of the intrinsic matrix?
Thanks for answering in advance.

[2022-04-20 11:27] simogasp commented on #184
it's a rule of thumb.
f is the focal length, so yes the first element of the calibration matrix.

[2022-04-27 00:04] #122 closed

[2022-04-29 11:02] simin75simin opened #185 "[question] how to track like the demo video"
specifically i'm referring to the demo video [here](https://www.youtube.com/watch?v=AkfnvSfWIvg&feature=emb_title)

i read in some places (see [this](https://robolab.sjtu.edu.cn/kindeditor/Upload/file/20170830/20170830144744_8958.pdf) for example) that four points on the same plane and a calibrated camera can track the camera's position and angle. but i can't find any code for this. i looked at op

[2022-04-29 11:16] simogasp commented on #185
The library only focuses on detection, there is no code for computing and decomposing the homography.
For that you can use opencv implementations
Estimating H from 4+ points
https://docs.opencv.org/4.x/d9/d0c/group__calib3d.html#ga4abc2ece9fab9398f2e560d53c8c9780
decompose H to find R and T
https://docs.opencv.org/3.1.0/d9/d0c/group__calib3d.html#ga7f60bdff78833d1e3fd6d9d0fd538d92

More info about

[2022-05-03 16:23] simin75simin commented on #185
thanks!

[2022-05-03 16:23] #185 closed, assigned to nobody

[2022-05-06 02:17] salfter opened #186 "[bug] unable to build: tries to find nonexistent (?) boost_stacktrace_basic"
**Describe the bug**
CMake fails to configure:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. ```git clone https://github.com/alicevision/CCTag``` (or download a release tarball)
2. ``mkdir CCTag/build && cd CCTag/build && cmake ..``

**Expected behavior**
Successful configure, ready to build.

**Log**
CMakeOutput.log:
[code]

**Desktop (please complete the following and other pertin

[2022-05-06 03:32] simin75simin opened #187 "[bug] gpu not at work while detecting"
os: ubuntu 18.04
cmake instruction:
[code]
detection instruction:
[code]
the detection is rather slow.
and then i watched gpu usage during detection:
[code]
but it's pretty close to 0% for the gpus.

help please?

p.s. [multiprocessed detection in python](https://gist.github.com/simin75simin/3dd2c3e959e51d959e86be78c2b2ab29)
p.s. cmake output:
[code]

[2022-05-08 14:13] simogasp commented on #186
how did you install boost, via apt-get or did you build it yourself?

In the first case try `apt install libboost-stacktrace-dev`  (or `libboost-all-dev` to be sure).

Otherwise, when you build boost make sure that at least these components are built `--with-libraries=atomic,container,date_time,exception,filesystem,graph,log,math,program_options,regex,serialization,system,test,thread,stacktrace,ti

[2022-05-09 18:26] salfter commented on #186
Portage.  (I run Gentoo.)  ```equery files boost | grep stacktrace``` shows some files in the finished build, but the ebuild passes ```--without-stacktrace``` among the options in the configure stage of the build.

I found this at the start of the compilation:

[code]

Oops.  Why Gentoo doesn't just build all by default, I don't know...but it looks like the stock ebuild needs to be tweaked a bit.

[2022-05-09 18:26] #186 closed, assigned to nobody

[2022-05-24 03:00] simin75simin opened #188 "[bug] error in detection"
I'm using an rgb-depth camera (kinda like a kinect camera used in kinectfusion) to record a video stream. But sometimes cctag gives a completely wrong tag and even after removing those it still gives some random errors.

There are about 10 tags in each image and it's shot at around 30 frames per second. The resolution is 640x480. I used the latest stable cpu version of detection and almost all of

[2022-07-14 04:41] DDDsasaki opened #189 "[bug] CV_DbgAssert is raised in cvRecordedCany() ( Maybe buffer overrun )"
**Describe the bug**

CV_DbgAssert is raised in cvRecordedCany() ( Maybe buffer overrun )

**To Reproduce**

I have read https://cctag.readthedocs.io/en/latest/api/usage.html and wrote test code.

[code]

 - 01.png is CCTag sample file ( https://github.com/alicevision/CCTag/blob/develop/sample/01.png )
 - environment ( summary )
   - Windows 10
   - Visual Studio 2022
   - CCTag 1.0.1 via vcpkg
 -

[2022-07-14 07:13] DDDsasaki commented on #189
I have found that this issue is resolved at commit 9c3de8da7652663f290b6c715af579e149e75557.
Sorry.
I hope version 1.0.2 will be released.

[2022-07-14 07:13] #189 closed, assigned to nobody

[2022-07-14 16:29] simogasp commented on #189
it's done

[2022-07-15 01:00] DDDsasaki commented on #189
Thank you !

[2022-07-18 22:20] anand97 opened #192 "[bug] Failed to copy to symbol host-to-device: invalid device symbol"
I am able to compile and run the CCTag detection application with no issues on CPU on a Jetson Nano, with the sample images in the repository. On the other hand, when I pass the --use-cuda flag, I get this error:

`You called ./build/Linux-aarch64/detection with:
    --input     sample/02.png
    --nbrings     3
    --bank
    --params
    --output
    --parallel 1
    --use-cuda

****************

[2022-07-18 23:26] anand97 commented on #187
Try running it with the --use-cuda option
i.e. `./Linux-x86_64/detection -n 3 -i 0 --use-cuda`

[2022-07-19 10:42] simogasp commented on #192
I think the problem might come from the missing architecture flags for Jetson Nano.
It requires `arch=compute_53,code=sm_53` (see https://forums.developer.nvidia.com/t/jetson-nano-running-openpose-example-gives-a-cuda-check-failed/77196/3) but they are not in our list
https://github.com/alicevision/CCTag/blob/develop/CMakeLists.txt#L166

You can try to add them in the CMake but I'm not sure the co

[2022-07-20 03:55] anand97 commented on #192
Thanks for your reply. I tried adding the 5.3 Compute capability specifier to the list, and clean rebuilt the repository. I get a different error now though that seems to be related to running out of memory, I'm not sure whether this was the kind of error that we would expect if the code did not support this architecture :
`
You called ./Linux-aarch64/detection with:
    --input     ../sample/01.p

[2022-07-20 08:46] simogasp commented on #192
Memory could very well be the issue.
You can try to crop that image around one of the cctag and process that one. A smaller image require less image.
I suggest crop because if you scale down the image too much the cctag won't be detected because too small

[2022-07-20 22:35] anand97 commented on #192
Hello! Thanks again for your suggestion and reply. I tried cropping the sample image down to 260x260 px with one tag visible fully in the center, I still receive a similar error.
`You called ./Linux-aarch64/detection with:
    --input     ../samples/02_crop.png
    --nbrings     3
    --bank
    --params
    --output
    --parallel 1
    --use-cuda

******************* Image mode *****************

[2022-07-21 04:34] anand97 commented on #192
Some more information, when trying with the --sync option, I get this message sometimes:
~/git/CCTag/src/cctag/cuda/debug_macros.cpp:27
    called from ~/git/CCTag/src/./cctag/cuda/frame_07c_eval.cu:243
    cudaGetLastError failed: invalid configuration argument
terminate called recursively

[2022-07-21 10:34] simogasp commented on #192
I'm not an expert in cuda either.
The cuda code was optimized to run in real time on GTXs.
It is possible some of the configurations used for blocks, num threads etc are not supported on the Nano.
Looking at this e.g.
https://stackoverflow.com/questions/16125389/invalid-configuration-argument-error-for-the-call-of-cuda-kernel
it seems that the error you are getting with the sync option might refer

[2022-07-21 13:35] anand97 commented on #192
Hello @simogasp thanks for your reply. I'm happy to report that I seem to have solved the problem.
Just like you mentioned, the block size seemed to be the issue. From another issue https://github.com/alicevision/CCTag/issues/170#issuecomment-903901699, and https://www.wikiwand.com/en/CUDA#/Version_features_and_specifications it seems like the Jetson nano supports only 16 'grids per resident devic

[2022-07-21 15:22] simogasp commented on #192
thanks for testing that.
I don't know if it is doable, but it would be nice if we could parametrize these parameters according to the architecture. It's nice to hear that it can work even on the jetson nano with a decent performance. We should definitely find the way to enable that at compiling time.

[2022-07-28 06:51] simin75simin commented on #187
I am no longer working on this project but thanks for the response.

[2022-07-28 06:51] #187 closed, assigned to nobody

[2022-08-29 08:15] z905762202 commented on #170
@nicolasdp88  I have changed the code according to CUDa patch.txt, but still can't detect it. May I ask where is the problem? Can you give me the EXE you compiled

[2022-08-29 09:18] z905762202 opened #195 "@Blup1980"
@Blup1980

Sorry I did not see this sooner.
Here is what I patched

[cuda patch.txt](https://github.com/alicevision/CCTag/files/7400446/cuda.patch.txt)

_Originally posted by @nicolasdp88 in https://github.com/alicevision/CCTag/issues/170#issuecomment-949837183_

[2022-08-29 09:18] z905762202 commented on #195
I followed this and I still couldn't detect it

[2022-08-29 09:19] z905762202 opened #196 "It cannot be detected after using CUDA commands[bug]"
@Blup1980

Sorry I did not see this sooner.
Here is what I patched

[cuda patch.txt](https://github.com/alicevision/CCTag/files/7400446/cuda.patch.txt)

Originally posted by @nicolasdp88 in https://github.com/alicevision/CCTag/issues/170#issuecomment-949837183

I did this and I still couldn't detect it

[2022-09-04 00:06] #172 closed, assigned to nobody

[2022-09-09 00:05] #173 closed, assigned to nobody

[2022-09-14 01:06] Akumar201 opened #197 "Problem running build/src/detection -n 3 -i sample/01.png"
**Describe the problem**
While installing CCTag library I am currently at CMake configuration and using the following command

mkdir build && cd build
cmake ..
make -j `nproc`

While running the command - $ build/src/detection -n 3 -i sample/01.png

I am getting an error -
bash: build/src/detection: No such file or directory

**Screenshots**
![Screenshot from 2022-09-13 21-01-05](https://user-imag

[2022-09-14 08:19] simogasp commented on #197
it's
[code]

[2022-09-14 13:39] Akumar201 commented on #197
Thank you ! I was getting an error and posting it for helping anyone else

~/c++/new_tag/CCTag/build$ ./Linux-x86_64/detection  -n 3 -i sample/01.png
You called ./Linux-x86_64/detection with:
    --input     sample/01.png
    --nbrings     3
    --bank
    --params
    --output

The input file "sample/01.png" is missing

I moved the sample folder to the build to run it

[2022-09-14 13:39] #197 closed, assigned to nobody

[2022-09-14 14:00] Akumar201 opened #198 "Detect CCTag using Video Stream"
**Describe the problem**
Greetings, I am new to the library. I was able to run the detection on CCTag images in sample folder. I would like to know how can I detect the printed CCTag on from live video stream. Please provide me with a detail changes or commands that I should use to detect the CCTag with live video stream.

**Desktop (please complete the following and other pertinent information):*

[2022-09-14 14:04] Akumar201 commented on #63
Hello, I would like to know as this issue was posted on 2017 , does we have a implementation now in 2022 where we can estimate camera pose detection or used it to find the distance between camera and marker. Thank you

[2022-09-14 15:18] simogasp commented on #198
if you used the `detection` application that comes with the library, you can just change the `input` parameter and provide an integer that refer to the camera you want to use.
Normally, if you have a webcam attached via USB, you can just pass `--input 0` and it will use the stream from that camera to process the images.
see https://github.com/alicevision/CCTag/blob/develop/src/applications/detecti

[2022-09-14 15:19] simogasp commented on #63
no there is no implementation at the moment in the library

[2022-09-14 15:37] Akumar201 commented on #198
Thank you so much for your quick response. I would like to know how can I use it when I'll be making my own script in python or c++ ? Thank you

[2022-09-14 15:40] simogasp commented on #198
In python you can call the binary but then you have to find a way to get the result. At the moment we don't have any python wrappers that enable to do the same thing as `detection` in a pure python code.
In c++, just follow the code in the `detection` source code (main.cpp) and you see how the API is used

[2022-09-14 16:13] Akumar201 commented on #198
Hello, thank you so much for your help. I would like to know is there a way I can use camera pose and distance estimation using your software. In addition to this I would like to know in future will there be pose estimation implementation of it ?

[2022-09-14 17:24] Akumar201 commented on #63
I would like to know is there any possible way I can use your library to get camera coordinates with respect to CCTag

[2022-09-14 21:14] simogasp commented on #198
no unfortunately that is not implemented at the moment.
But it should not be difficult to do following the explanations in #63
It would be a nice contribution to add.

[2022-09-16 00:07] #136 closed

[2022-09-19 20:58] #198 closed, assigned to nobody

[2022-09-21 13:27] Akumar201 opened #199 "VS Code is giving error while running main.cp file"
**Describe the problem**
Hello I was running the main.cpp in CCTag/src/appplications/detection , however it's running fine with the command ./Linux-x86_64/detection  -n 3 -i sample/01.png , however it's throwing an error when I am working on main.cpp file using VScode. I want to write my own script so that I can use it in my software.

**Screenshots**
![Screenshot from 2022-09-21 09-21-12](https:/

[2022-09-21 13:30] simogasp commented on #199
Make sure you have the CMake Tools for VS Code installed and that you correctly imported the project
https://code.visualstudio.com/docs/cpp/cmake-linux

[2022-09-21 15:04] Akumar201 commented on #199
Hello, I check I am currently using cmake version 3.16.3 , can you please elaborate what you mean by saying "correctly imported the project"

[2022-09-21 15:09] simogasp commented on #199
I was referring to the VS Code add-on "CMake Tools for VS Code" from the link. You need to have that installed in VS Code for VS Code to be able to import the cmake project and then compile it.

[2022-09-21 15:44] Akumar201 commented on #199
Greetings, I have CMake Tools for VS Code however , it is still giving an error
#include errors detected. Please update your includePath. Squiggles are disabled for this translation unit (/home/akumar/c++/new_tag/CCTag/src/applications/detection/main.cpp).C/C++(1696)

[2022-09-21 16:01] simogasp commented on #199
I never used VS Code but I guess that when you configure the project you have to provide the paths where to find the libraries:
https://code.visualstudio.com/docs/cpp/cmake-linux#_cmake-configure

It is the equivalent of what you would do at command line
https://cctag.readthedocs.io/en/latest/install/install.html#cmake-configuration
you have to tell where to find opencv adding e.g. `-DOpenCV_DIR=p

[2022-09-27 21:41] simogasp commented on #188
do you still have the issue?
In case could you share some images to test?

[2022-11-04 00:06] #150 closed

[2022-11-06 00:07] #149 closed

[2022-11-22 17:06] Akumar201 commented on #199
This is a classic error while using C++ with VS Code when cloning any library from Github that can be resolved by creating a CMakeLists.txt and configure the include paths.

 I am closing this issue as it has been solved. If the problem persists, please comment and the issue will be reopened if appropriate.

[2022-11-22 17:06] #199 closed, assigned to nobody

[2022-11-27 00:05] #175 closed, assigned to nobody